$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #181034,
	),
	text: (
		body: #878c8f,
	),
	theme: (
		primary: #ff621c,
		secondary: #4d35ac,
		bg: #181034,
		bg-2: #090127,
	),
	grey: (
		1: #ebebeb,
		2: #c4c8ca,
		3: #a9adb1,
		4: #090127,
		5: #e5ecf1,
		6: #e5e3eb,
		7: #fff5f0,
		8: #ffefe8,
		9: #efeaff,
		10: #fdf4f0,
		11: #d9d9d9,
		12: #e5e5e5,
		13: #201647,
		14: #4e36ad,
		15: #b2b1b4,
	),
	border: (
		1: #4e4e4e,
		2: #18103466,
		3: #0000004d,
		4: #4e4e4e33,
	),
);
