@forward "components/theme";
@forward "components/buttons";
@forward "components/header";
@forward "components/footer";
@forward "components/sec-header";
@forward "components/item-list";

@forward "layout/hero";
@forward "layout/about";
@forward "layout/service";
@forward "layout/project";
@forward "layout/project-details";
@forward "layout/process";
@forward "layout/testimonial";
@forward "layout/brand";
@forward "layout/award";
@forward "layout/cta";
@forward "layout/feature";
@forward "layout/team";
@forward "layout/faq";
@forward "layout/marquee";
@forward "layout/counter";
@forward "layout/choose";
@forward "layout/price";
@forward "layout/blog";
@forward "layout/blog-details";
@forward "layout/client";
@forward "layout/breadcrumb";
