@use "../utilities" as *;

/**----------------------------------------
START: Theme Animtion CSS
----------------------------------------*/
@keyframes sticky {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}
/* !END: Animtion CSS */
