@use "../utilities" as *;

/**----------------------------------------
START: Theme Animtion CSS
----------------------------------------*/
@keyframes sticky {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes faAnim {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
/* !END: Animtion CSS */
