@use "../utilities" as *;

/**
  Buttons CSS
*/

.primary-btn {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	font-size: 16px;
	color: var(--fa-color-common-white);
	font-family: var(--fa-ff-heading);
	font-weight: var(--fa-fw-bold);
	position: relative;
	.fa-btn-text {
		display: inline-block;
		color: var(--fa-color-common-white);
		background: var(--fa-color-theme-primary);
		padding: 20px 30px;
		border-radius: 80px;
		transform: translate3d(calc(-1 * 55px), 0, 0);
		line-height: 1;
	}
	.fa-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 56px;
		height: 56px;
		background: var(--fa-color-theme-primary);
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
		&.icon-1 {
			transform: translate3d(calc(-1 * 55px), 0, 0);
			opacity: 1;
			visibility: visible;
		}
	}
	&:hover {
		.fa-btn-text {
			color: var(--fa-color-common-white);
			transform: translate3d(0, 0, 0);
		}
		.fa-icon {
			opacity: 1;
			visibility: visible;
			&.icon-1 {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&.btn-1 {
		.fa-btn-text {
			background: var(--fa-color-theme-secondary);
		}
		.fa-icon {
			background: var(--fa-color-theme-secondary);
		}
	}
	@media #{$lg} {
		.fa-btn-text {
			padding: 20px 20px;
		}
	}
}

.read-more-btn {
	display: flex;
	align-items: center;
	justify-content: end;
	column-gap: 10px;
	font-weight: var(--fa-fw-bold);
	text-transform: uppercase;
	&.btn-1 {
		color: var(--fa-color-heading-primary);
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 50px;
		padding: 21px 25px;
		.read-more-link {
			&::before {
				background: var(--fa-color-heading-primary);
			}
		}
	}
	.read-more-link {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 4px;
			background: var(--fa-color-text-body);
		}
	}
}

.view-blog-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 15px;
	width: 235px;
	height: 235px;
	font-size: 24px;
	color: var(--fa-color-grey-4);
	font-family: var(--fa-ff-heading);
	font-weight: var(--fa-fw-bold);
	position: relative;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		mask-image: url(../images/shapes/blog-shapes.svg);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		background: var(--fa-color-theme-primary);
	}
	&:hover {
		color: var(--fa-color-grey-4);
	}
	@media #{$sm, $xs} {
		width: 165px;
		height: 165px;
		font-size: 20px;
	}
}

.submit-btn {
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: 16px;
	color: var(--fa-color-common-white);
	font-family: var(--fa-ff-heading);
	font-weight: var(--fa-fw-bold);
	background: var(--fa-color-theme-primary);
	border-radius: 80px;
	padding: 21px 26px;
	line-height: 1;
	span {
		width: 16px;
	}
}
