@use "../utilities" as *;

/**----------------------------------------
START: Theme Header CSS
----------------------------------------*/
.header-area {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 98;
	background: var(--fa-color-theme-secondary);
	@include transition(all 0.3s ease-in-out 0s);
	&.header-absolute {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 99;
		background-color: transparent;
	}
	&.v-2 {
		background: var(--fa-color-theme-secondary);
		padding: 18px 0;
		.maimmenu-main-wrapper {
			.mainmenu {
				background: rgba(255, 255, 255, 0.1);
				padding: 0 45px;
				border-radius: 50px;
				ul > {
					li > {
						a {
							padding: 18px 0;
						}
					}
				}
			}
			.mainmenu-right-infos {
				column-gap: 90px;
				.header-media-wrap {
					display: flex;
					align-items: center;
					column-gap: 30px;
				}
			}
		}
	}
	&.v-3 {
		.mainmenu-right-infos {
			column-gap: 115px;
			.header-media-wrap {
				display: flex;
				align-items: center;
				column-gap: 30px;
			}
		}
	}
}

.maimmenu-main-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-logo,
.site-logo {
	max-width: 188px;
	width: 100%;
	a {
		display: inline-block;
		img {
			width: 100%;
		}
	}
}

.mainmenu {
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 50px;
		> li {
			position: relative;
			z-index: 1;
			> a {
				display: block;
				position: relative;
				font-size: 18px;
				color: var(--fa-color-common-white);
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-bold);
				padding: 46px 0;
				z-index: 2;
			}
		}
	}
}

.mainmenu-right-infos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 35px;
	.header-button {
		transform: translate3d(calc(1 * 55px), 0, 0);
	}
}

.header-search {
	.search {
		display: flex;
		align-items: center;
		column-gap: 15px;
		font-size: 18px;
		color: var(--fa-color-common-white);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-bold);
	}
}

.header-social-media {
	ul {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
}

.menu-bar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	background: var(--fa-color-theme-primary);
	border-radius: 50%;
}
/* !END: Theme Header CSS */
