@use "../utilities" as *;

/**----------------------------------------
START: Theme Header CSS
----------------------------------------*/
.header-area {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 98;
	background: var(--fa-color-theme-secondary);
	@include transition(all 0.3s ease-in-out 0s);
	&.header-duplicate {
		background-color: var(--fa-color-theme-bg);
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	&.sticky {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		animation: sticky 0.9s;
		z-index: 99;
		opacity: 1;
		visibility: visible;
		display: block;
	}
	&.header-absolute {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 99;
		background-color: transparent;
	}
	&.v-2 {
		background: var(--fa-color-theme-secondary);
		padding: 18px 0;
		@media #{$xs} {
			padding: 10px 0;
		}
		.maimmenu-main-wrapper {
			.mainmenu {
				background: rgba(255, 255, 255, 0.1);
				padding: 0 45px;
				border-radius: 50px;
				ul > {
					li > {
						a {
							padding: 18px 0;
						}
					}
				}
			}
			.mainmenu-right-infos {
				column-gap: 90px;
				.header-media-wrap {
					display: flex;
					align-items: center;
					column-gap: 30px;
				}
			}
			@media #{$xl} {
				.mainmenu-right-infos {
					column-gap: 30px;
				}
			}
			@media #{$lg} {
				.mainmenu-right-infos {
					column-gap: 30px;
				}
				.mainmenu {
					padding: 0 25px;
				}
			}
		}
	}
	&.v-3 {
		.mainmenu-right-infos {
			column-gap: 30px;
			.header-media-wrap {
				display: flex;
				align-items: center;
				column-gap: 30px;
			}
		}
	}
	@media #{$md, $sm, $xs} {
		padding: 20px 0;
	}
}

.maimmenu-main-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.mean-push {
		display: none;
	}
}

.footer-logo,
.site-logo {
	max-width: 188px;
	width: 100%;
	a {
		display: inline-block;
		img {
			width: 100%;
		}
	}
	@media #{$lg, $xs} {
		max-width: 135px;
	}
}

.mainmenu {
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 50px;
		> li {
			position: relative;
			z-index: 1;
			&.has-dropdown {
				> a {
					padding-right: 20px;
					&::before {
						position: absolute;
						content: "\2b";
						font-family: "Font Awesome 6 Pro";
						top: 50%;
						right: 0;
						font-weight: var(--fa-fw-sbold);
						transform: translateY(-50%);
						transition: all 0.1s ease-out;
						font-size: 12px;
					}
					&::after {
						position: absolute;
						content: "\f068";
						font-family: "Font Awesome 6 Pro";
						top: 50%;
						right: 0;
						font-weight: var(--fa-fw-sbold);
						transform: translateY(-50%);
						transition: all 0.1s ease-out;
						font-size: 12px;
					}
				}
			}
			> a {
				display: block;
				position: relative;
				font-size: 18px;
				color: var(--fa-color-common-white);
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-bold);
				padding: 32px 0;
				z-index: 2;
			}
			&.current-menu-ancestor,
			&.current-menu-item,
			&:hover {
				a {
					color: var(--fa-color-theme-primary);
					&::after {
						opacity: 1;
						visibility: visible;
					}
					&::before {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
			> .sub-menu {
				display: block;
				position: absolute;
				top: 100%;
				left: 0;
				width: 220px;
				top: 100%;
				left: 0;
				z-index: 99;
				transform-origin: 0 0;
				text-align: left;
				background-color: var(--fa-color-common-white);
				transform: scaleY(0);
				opacity: 0;
				visibility: hidden;
				gap: 0;
				padding: 10px 0;
				pointer-events: none;
				> li {
					display: block;
					width: 100%;
					margin-right: 0;
					transition: 0.4s;
					position: relative;
					z-index: 1;
					&.has-dropdown::after {
						display: none;
					}
					> a {
						position: relative;
						padding: 4px 20px;
						display: block;
						color: var(--fa-color-grey-3);
						text-transform: capitalize;
						&::before {
							display: none;
						}
						&::after {
							display: none;
						}
						&:hover {
							padding-inline-start: 25px;
						}
					}
					&:last-child {
						padding-bottom: 0;
					}

					&.has-dropdown {
						> a {
							&::after {
								content: "\f105";
								right: 10px;
								color: var(--fa-color-theme-primary);
							}
						}
					}
					&.current-menu-ancestor,
					&.current-menu-item,
					&:hover {
						> a {
							color: var(--fa-color-theme-primary);
							&::before {
								opacity: 1;
								visibility: visible;
							}
							&::after {
								color: var(--fa-color-heading-primary);
							}
						}
					}
					> .sub-menu {
						left: 100%;
						top: 0;
					}
				}
			}
			&:hover {
				> .sub-menu {
					opacity: 1;
					visibility: visible;
					transform: scaleY(1);
					transition: all 0.5s ease;
					pointer-events: inherit;
				}
			}
		}
	}
	@media #{$xl} {
		ul {
			column-gap: 30px;
		}
	}
	@media #{$lg} {
		ul {
			column-gap: 20px;
			> li {
				> a {
					font-size: 16px;
					padding: 40px 0;
				}
			}
		}
	}
}

.mainmenu-right-infos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 35px;
	.header-button {
		transform: translate3d(calc(1 * 55px), 0, 0);
	}
	@media #{$xl} {
		column-gap: 20px;
	}
	@media #{$lg} {
		column-gap: 10px;
	}
}

.header-search {
	.search {
		display: flex;
		align-items: center;
		column-gap: 15px;
		font-size: 18px;
		color: var(--fa-color-common-white);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-bold);
	}
}

.header-social-media {
	ul {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
}

.menu-bar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	background: var(--fa-color-theme-primary);
	border-radius: 50%;
}

.mobile-menu-bar {
	.canvas-btn {
		font-size: 30px;
		color: var(--fa-color-common-white);
	}
}

.hamburger-button {
	.hamburger_menu {
		display: inline-flex;
		font-size: 30px;
		color: var(--fa-color-common-white);
	}
}
/* !END: Theme Header CSS */
