@use "../utilities" as *;

/**----------------------------------------
START: Theme Item List CSS
----------------------------------------*/
.item-list-one {
	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 25px;
		row-gap: 20px;
		li {
			display: flex;
			align-items: center;
			column-gap: 15px;
			font-size: 18px;
			font-weight: var(--fa-fw-sbold);
			color: var(--fa-color-heading-primary);
		}
	}
}
/* !END: Theme Item List CSS */
