@use "../utilities" as *;

/* !START: Mainmenu CSS */
.fa-offcanvas-area {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--fa-color-theme-dark);
	z-index: 9;
	opacity: 0;
	pointer-events: none;
	transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
	.offcanvas_warp {
		.offcanvas_menu_wrap {
			max-width: 480px;
			width: 100%;
			height: 100vh;
			display: flex;
			align-items: center;
			transform: translateX(-30px);
			padding: 110px 30px;
			opacity: 0;
			transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
			border-left: 1px solid rgba(255, 255, 255, 0.15);
			.mobile_menu {
				max-width: 350px;
				width: 100%;
				.mean-bar {
					margin-bottom: 0;
				}
			}
		}
		.canvas-content-area {
			max-width: 720px;
			width: 100%;
			margin-left: auto;
			height: 100vh;
			position: relative;
			padding: 110px 30px 180px;
			display: flex;
			flex-direction: column;
			align-items: end;
			justify-content: end;
			transform: translateY(30px);
			opacity: 0;
			transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					from(rgba(19, 19, 19, 0)),
					to(var(--fa-color-theme-dark))
				);
				background: linear-gradient(
					180deg,
					rgba(19, 19, 19, 0) 0%,
					var(--fa-color-theme-dark) 100%
				);
				z-index: -1;
			}
		}
		@media #{$xxxl} {
			.offcanvas_menu_wrap {
				margin-left: 70px;
			}
		}
		@media #{$xxl} {
			.offcanvas_menu_wrap {
				max-width: 450px;
				margin-left: 200px;
			}
			.canvas-content-area {
				max-width: 550px;
			}
		}
		@media #{$xl} {
			.offcanvas_menu_wrap {
				max-width: 420px;
				margin-left: 200px;
			}
			.canvas-content-area {
				max-width: 470px;
			}
		}
		@media #{$lg} {
			.offcanvas_menu_wrap {
				max-width: 350px;
				margin-left: 200px;
				.mobile_menu {
					padding-left: 25px;
				}
			}
			.canvas-content-area {
				max-width: 360px;
			}
		}
	}
	&.opened {
		opacity: 1;
		pointer-events: all;
		.offcanvas_warp {
			.offcanvas_menu_wrap {
				opacity: 1;
				transform: translateX(0);
				transition-delay: 0.4s;
			}
			.canvas-content-area {
				opacity: 1;
				transform: translateY(0);
				transition-delay: 0.6s;
			}
		}
	}
	.offcanvas-copyright {
		position: absolute;
		bottom: 25px;
		left: 25px;
		p {
			color: var(--fa-color-grey-2);
			margin-bottom: 0;
			a {
				color: var(--fa-color-common-white);
				&:hover {
					color: var(--fa-color-theme-primary);
				}
			}
		}
	}
	@media #{$lg} {
		.offcanvas_warp {
			.offcanvas_menu_wrap {
				padding: 110px 0 80px 0;
			}
			.canvas-content-area {
				padding: 110px 25px 80px 50px;
			}
		}
	}
}

.canvas-content-area {
	.contact-box-one {
		.contact-item {
			text-align: end;
			&::before {
				background: var(--fa-color-common-white);
				right: 0;
				left: auto;
			}
			&::after {
				background: var(--fa-color-common-white);
			}
			&:last-child {
				&::after {
					background: var(--fa-color-common-white);
					right: 0;
					left: auto;
				}
			}
			.contact-link {
				position: relative;
				color: var(--fa-color-common-white);
				z-index: 1;
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 1px;
					background: var(--fa-color-common-white);
					bottom: 5px;
					left: 0px;
					transform-origin: right;
					transform: scaleX(0);
					transition: transform 0.3s ease-in-out;
				}
				&:hover {
					&::before {
						transform-origin: left;
						transform: scaleX(1);
					}
				}
			}
			.location {
				color: var(--fa-color-common-white);
			}
			.sub-title {
				color: var(--fa-color-grey-1);
			}
		}
	}
}
/* !END: Mainmenu CSS */
