@use "../utilities" as *;

/**----------------------------------------
START: Theme Item List CSS
----------------------------------------*/
.search_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--fa-color-theme-bg);
	border-radius: 0 0 24px 24px;
	z-index: 100;
	padding-top: 120px;
	padding-bottom: 130px;
	opacity: 0;
	transform: translateY(calc(-100% - 80px));
	transition:
		transform 0.3s ease-in-out,
		opacity 0.3s ease-in-out;
	transition-delay: 0.5s;
	z-index: 9999;
}

.search_popup .search_close {
	position: absolute;
	top: 36px;
	right: 36px;
}

.search_popup .search_close .search_close_btn {
	font-size: 24px;
	line-height: 1;
	color: var(--fa-color-common-white);
}

.search_popup .search_close .search_close_btn svg {
	width: 24px;
	height: 24px;
	transition: all 0.4s ease-in-out 0s;
}

.search_popup .search_close .search_close_btn svg path {
	fill: var(--fa-color-common-white);
}

.search_popup .search_close .search_close_btn svg:hover {
	transform: rotate(90deg);
}

.search_popup .search_close .search_close_btn svg:hover path {
	fill: var(--fa-color-theme-primary);
}

.search_popup.search-opened {
	opacity: 1;
	transform: translateY(0%);
	transition-delay: 0s;
}

.search_popup.search-opened .search_form .search_input {
	transform: translateY(0px);
	opacity: 1;
	transition-delay: 0.3s;
}

.search_popup.search-opened .search_form .search_input::after {
	width: 100%;
	transition-delay: 0.5s;
}

.fa_search_wrapper {
	max-width: 720px;
	margin: 0 auto;
}

.fa_search_wrapper .search_form form .search_input {
	position: relative;
	z-index: 1;
}

.fa_search_wrapper .search_form form .search_input .title {
	color: var(--fa-color-common-white);
	font-size: 30px;
	font-weight: var(--fa-fw-bold);
	text-align: center;
	margin-bottom: 30px;
}

.fa_search_wrapper .search_form form .search_input .search-box {
	position: relative;
	z-index: 1;
}

.fa_search_wrapper
	.search_form
	form
	.search_input
	.search-box
	input[type="search"] {
	width: 100%;
	font-family: var(--fa-ff-body);
	color: var(--fa-color-common-white);
	border: 1px solid var(--fa-color-border-1);
	background: var(--fa-color-theme-dark);
	padding: 20px 75px 20px 24px;
	border-radius: 10px;
}

.fa_search_wrapper
	.search_form
	form
	.search_input
	.search-box
	input[type="search"]::placeholder {
	color: var(--fa-color-text-body);
}

.fa_search_wrapper
	.search_form
	form
	.search_input
	.search-box
	input[type="search"]:focus {
	border-color: var(--fa-color-theme-primary);
}

.fa_search_wrapper .search_form form .search_input .search-box [type="submit"],
.fa_search_wrapper
	.search_form
	form
	.search_input
	.search-box
	input[type="submit"] {
	color: var(--fa-color-heading-primary);
	font-size: 24px;
	line-height: 1;
	max-width: 62px;
	width: 100%;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.fa_search_wrapper
	.search_form
	form
	.search_input
	.search-box
	[type="submit"]::before,
.fa_search_wrapper
	.search_form
	form
	.search_input
	.search-box
	input[type="submit"]::before {
	content: "";
	position: absolute;
	inset-inline-start: 0;
	top: 20px;
	height: 28px;
	border-inline-start: 1px solid var(--fa-color-border-1);
}

.fa_search_wrapper
	.search_form
	form
	.search_input
	.search-box
	[type="submit"]
	i,
.fa_search_wrapper
	.search_form
	form
	.search_input
	.search-box
	input[type="submit"]
	i {
	display: inline-flex;
	line-height: 1;
}

.search-popup-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	z-index: 99;
	transform: translateY(calc(-100% - 80px));
	transition: all 0.5s ease-in-out 0.3s;
}

.search-popup-overlay.opened {
	transform: translateY(0);
	transition-delay: 0.1s;
}
/* !END: Theme Item List CSS */
