@use "../utilities" as *;

/**----------------------------------------
START: Theme Sec Header CSS
----------------------------------------*/
.heading-area {
	margin-bottom: 70px;
	.sub-title {
		display: block;
		font-size: 100px;
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-black);
		-webkit-text-stroke-width: 3px;
		-webkit-text-stroke-color: var(--fa-color-theme-primary);
		-webkit-text-fill-color: var(--fa-color-common-white);
		margin-bottom: 10px;
		line-height: 1;
	}
	.sec-title {
		display: inline-block;
		font-size: 300px;
		background: linear-gradient(
			90deg,
			var(--fa-color-theme-bg) 0%,
			var(--fa-color-common-white) 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		font-weight: var(--fa-fw-black);
		letter-spacing: -0.02em;
		margin-bottom: 0;
		line-height: 1;
	}
	@media #{$xxl} {
		.sec-title {
			font-size: 250px;
		}
	}
	@media #{$xl} {
		.sec-title {
			font-size: 200px;
		}
	}
	@media #{$lg} {
		.sec-title {
			font-size: 165px;
		}
	}
	@media #{$md} {
		margin-bottom: 30px;
		.sub-title {
			font-size: 80px;
		}
		.sec-title {
			font-size: 150px;
		}
	}
	@media #{$sm} {
		margin-bottom: 30px;
		.sub-title {
			font-size: 60px;
			-webkit-text-stroke-width: 2px;
		}
		.sec-title {
			font-size: 120px;
		}
	}
	@media #{$xs} {
		margin-bottom: 30px;
		.sub-title {
			font-size: 45px;
			-webkit-text-stroke-width: 2px;
		}
		.sec-title {
			font-size: 65px;
		}
	}
}

/* !END: Theme Sec Header CSS */
