@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?xm8o36");
	src:
		url("../fonts/icomoon.eot?xm8o36#iefix") format("embedded-opentype"),
		url("../fonts/icomoon.ttf?xm8o36") format("truetype"),
		url("../fonts/icomoon.woff?xm8o36") format("woff"),
		url("../fonts/icomoon.svg?xm8o36#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-angle:before {
	content: "\e900";
}
.icon-brand:before {
	content: "\e901";
}
.icon-check:before {
	content: "\e902";
}
.icon-creative:before {
	content: "\e903";
}
.icon-different:before {
	content: "\e904";
}
.icon-expert:before {
	content: "\e905";
}
.icon-facebook:before {
	content: "\e906";
}
.icon-file:before {
	content: "\e907";
}
.icon-grapic:before {
	content: "\e908";
}
.icon-improve:before {
	content: "\e909";
}
.icon-interactive:before {
	content: "\e90a";
}
.icon-line:before {
	content: "\e90b";
}
.icon-linkedin:before {
	content: "\e90c";
}
.icon-play:before {
	content: "\e90d";
}
.icon-quote:before {
	content: "\e90e";
}
.icon-right-arrow:before {
	content: "\e90f";
}
.icon-search:before {
	content: "\e910";
}
.icon-sent:before {
	content: "\e911";
}
.icon-twitter:before {
	content: "\e912";
}
