@use "../utilities" as *;

/**----------------------------------------
START: Theme About CSS
----------------------------------------*/
.fa-about-section {
	padding-top: 150px;
	padding-bottom: 150px;
	.heading-area {
		.sec-title {
			margin-top: -80px;
		}
	}
	&.v-2 {
		background: linear-gradient(
			360deg,
			var(--fa-color-grey-6) 0%,
			var(--fa-color-grey-7) 100%
		);
		.heading-area {
			display: flex;
			align-items: start;
			justify-content: space-between;
			column-gap: 140px;
			row-gap: 25px;
			max-width: 1770px;
			width: 100%;
			margin-left: auto;
			.sub-title {
				-webkit-text-stroke-width: 3px;
				-webkit-text-stroke-color: var(--fa-color-theme-primary);
				-webkit-text-fill-color: var(--fa-color-grey-7);
			}
			.header-desc {
				max-width: 375px;
				width: 100%;
				.desc {
					font-size: 18px;
					color: var(--fa-color-heading-primary);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-medium);
					margin-bottom: 75px;
				}
			}
		}
		@media #{$xxl} {
			.heading-area {
				column-gap: 30px;
			}
		}
		@media #{$xl} {
			.heading-area {
				column-gap: 30px;
				.sec-title {
					margin-top: -55px;
				}
			}
		}
		@media #{$lg} {
			.heading-area {
				column-gap: 30px;
				.sec-title {
					margin-top: -55px;
				}
			}
		}
		@media #{$md} {
			.heading-area {
				flex-direction: column-reverse;
				.sec-title {
					margin-top: -45px;
				}
				.header-desc {
					max-width: 100%;
					.desc {
						margin-bottom: 35px;
					}
				}
			}
		}
		@media #{$sm} {
			.heading-area {
				flex-direction: column-reverse;
				.sec-title {
					margin-top: -35px;
				}
				.header-desc {
					max-width: 100%;
					.desc {
						margin-bottom: 35px;
					}
				}
			}
		}
		@media #{$xs} {
			.heading-area {
				flex-direction: column-reverse;
				.sub-title {
					-webkit-text-stroke-width: 2px;
				}
				.sec-title {
					margin-top: -20px;
				}
				.header-desc {
					max-width: 100%;
					.desc {
						margin-bottom: 25px;
					}
				}
			}
		}
	}
	&.v-3 {
		padding-top: 0;
	}
	@media #{$xl} {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@media #{$lg} {
		padding-top: 120px;
		padding-bottom: 120px;
		.heading-area {
			.sec-title {
				margin-top: -50px;
			}
		}
	}
	@media #{$md, $sm} {
		padding-top: 80px;
		padding-bottom: 80px;
		.heading-area {
			.sec-title {
				margin-top: -40px;
			}
		}
	}
	@media #{$xs} {
		padding-top: 80px;
		padding-bottom: 80px;
		.heading-area {
			.sec-title {
				margin-top: -10px;
			}
		}
	}
}

.about-feature-wrap {
	display: flex;
	justify-content: space-between;
	position: relative;
	.feature-brand {
		display: flex;
		align-items: center;
		column-gap: 70px;
		row-gap: 15px;
		.brand-title {
			display: flex;
			align-items: center;
			column-gap: 20px;
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
	}
	@media #{$xxl} {
		.feature-brand {
			column-gap: 40px;
		}
	}
	@media #{$xl} {
		.feature-brand {
			column-gap: 40px;
		}
	}
	@media #{$lg} {
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 30px;
		.feature-brand {
			justify-content: center;
		}
	}
	@media #{$md, $sm} {
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 30px;
		.feature-brand {
			justify-content: center;
		}
	}
	@media #{$xs} {
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 30px;
		.feature-brand {
			flex-direction: column;
			align-items: start;
		}
	}
}

.mission-vision-item {
	display: flex;
	align-items: center;
	column-gap: 65px;
	row-gap: 40px;
	background: var(--fa-color-theme-secondary);
	padding: 37px 60px 36px;
	border-radius: 50px;
	position: absolute;
	left: 0;
	bottom: 55px;
	width: calc(100% - 800px);
	z-index: 2;
	.mission-vision-list {
		.mission-vision-title {
			color: var(--fa-color-common-white);
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
		.mission-vision-desc {
			font-size: 18px;
			color: var(--fa-color-grey-5);
			font-family: var(--fa-ff-heading);
			font-weight: var(--fa-fw-medium);
			margin-top: 20px;
			margin-bottom: 0;
			line-height: 1.9;
		}
	}
	@media #{$xxl} {
		column-gap: 18px;
		padding: 37px 20px 36px;
		bottom: 30px;
		width: calc(100% - 735px);
	}
	@media #{$xl} {
		column-gap: 20px;
		padding: 15px 20px 15px;
		bottom: -40px;
		width: calc(100% - 520px);
	}
	@media #{$lg} {
		position: initial;
		justify-content: center;
		margin: 30px auto 0;
		width: calc(100% - 95px);
	}
	@media #{$lg} {
		position: initial;
		justify-content: center;
		margin: 30px auto 0;
		width: 100%;
	}
	@media #{$md, $sm} {
		position: initial;
		justify-content: center;
		margin: 30px auto 0;
		width: 100%;
	}
	@media #{$xs} {
		position: initial;
		flex-direction: column;
		justify-content: center;
		padding: 30px 15px 30px;
		border-radius: 15px;
		margin: 30px auto 0;
		width: 100%;
	}
}

.about-video-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 40px;
	row-gap: 30px;
	.about-content {
		display: flex;
		align-items: center;
		column-gap: 50px;
		row-gap: 20px;
		.about-images {
			max-width: 600px;
			width: 100%;
			img {
				width: 100%;
				border-radius: 50px;
			}
		}
		.about-text {
			max-width: 656px;
			width: 100%;
			.about-desc {
				font-size: 18px;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-medium);
				margin-bottom: 0;
				line-height: 1.9;
			}
			.about-button {
				margin-top: 40px;
			}
		}
	}
	.about-video-btn {
		.video-btn {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 210px;
			height: 210px;
			position: relative;
			&::before {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 150px;
				height: 150px;
				background: url(../images/shapes/video-circle.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				width: 210px;
				height: 210px;
				background: url(../images/shapes/video-mask.svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}
	}
	@media #{$xl} {
		margin-top: 50px;
	}
	@media #{$lg} {
		margin-top: 30px;
	}
	@media #{$md} {
		flex-direction: column;
		margin-top: 30px;
		.about-content {
			column-gap: 30px;
		}
	}
	@media #{$sm} {
		flex-direction: column;
		margin-top: 30px;
		.about-content {
			flex-direction: column;
			.about-images {
				max-width: 100%;
			}
		}
	}
	@media #{$xs} {
		flex-direction: column;
		margin-top: 30px;
		.about-content {
			flex-direction: column;
			.about-images {
				max-width: 100%;
				img {
					border-radius: 15px;
				}
			}
		}
	}
}

.about-images-group {
	max-width: 870px;
	width: 100%;
	mask-image: url(../images/shapes/about-mask-images.svg);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: cover;
	border-radius: 50px;
	img {
		border-radius: 50px;
	}
	@media #{$xxl} {
		max-width: 795px;
	}
	@media #{$xl} {
		max-width: 550px;
	}
	@media #{$lg, $md, $sm} {
		max-width: 100%;
	}
	@media #{$xs} {
		border-radius: 15px;
		img {
			border-radius: 15px;
		}
	}
}

.feature-list-one {
	li {
		display: flex;
		align-items: center;
		column-gap: 15px;
		font-size: 24px;
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-sbold);
		color: var(--fa-color-heading-primary);
	}
	@media #{$xs} {
		li {
			font-size: 20px;
		}
	}
}

.about-content-wrap {
	display: flex;
	column-gap: 50px;
	justify-content: space-between;
	@media #{$md, $sm, $xs} {
		flex-direction: column-reverse;
	}
}

.about-count-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	left: -85px;
	max-width: 488px;
	height: 490px;
	width: 100%;
	background: var(--fa-color-common-white);
	text-align: center;
	mask-image: url(../images/shapes/ab-mask.svg);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: cover;
	z-index: 1;
	.ab-count {
		display: flex;
		align-items: end;
		position: relative;
		left: -70px;
		top: 50px;
		font-size: 150px;
		color: var(--fa-color-heading-primary);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-black);
		line-height: 1;
		.ab-icons {
			position: absolute;
			right: -10px;
			bottom: -30px;
		}
	}
	.sub-title {
		display: block;
		left: -65px;
		top: 50px;
		position: relative;
		font-size: 24px;
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-sbold);
	}
	@media #{$xxl} {
		left: 25px;
	}
	@media #{$xl} {
		max-width: 440px;
		height: 440px;
		left: 25px;
	}
	@media #{$lg} {
		max-width: 440px;
		height: 440px;
		left: 25px;
	}
	@media #{$md} {
		max-width: 325px;
		height: 325px;
		left: 0px;
	}
	@media #{$sm} {
		max-width: 215px;
		height: 215px;
		left: 10px;
		.ab-count {
			font-size: 65px;
			left: -35px;
			top: 30px;
			.ab-icons {
				right: -15px;
				bottom: -10px;
			}
		}
		.sub-title {
			left: -30px;
			top: 25px;
			font-size: 20px;
		}
	}
	@media #{$xs} {
		max-width: 115px;
		height: 115px;
		left: 10px;
		.ab-count {
			font-size: 35px;
			left: -20px;
			top: 18px;
			.ab-icons {
				right: -15px;
				bottom: 0px;
			}
		}
		.sub-title {
			left: -15px;
			top: 18px;
			font-size: 15px;
		}
	}
}

.mission-vision-wrap {
	display: flex;
	align-items: start;
	row-gap: 25px;
	.mission-vision-list {
		max-width: 410px;
		width: 100%;
		border-right: 1px solid rgba(24, 16, 52, 0.3);
		padding-right: 70px;
		margin-right: 70px;
		&:last-child {
			border-right: none;
			padding-right: 0px;
			margin-right: 0px;
			max-width: 325px;
		}
		.mission-vision-title {
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
		.mission-vision-desc {
			font-size: 18px;
			font-family: var(--fa-ff-heading);
			font-family: var(--fa-fw-medium);
			margin-top: 20px;
			margin-bottom: 0;
			line-height: 1.8;
		}
	}
	@media #{$lg, $md} {
		.mission-vision-list {
			padding-right: 25px;
			margin-right: 25px;
		}
	}
	@media #{$lg, $md} {
		.mission-vision-list {
			padding-right: 25px;
			margin-right: 25px;
		}
	}
	@media #{$sm} {
		.mission-vision-list {
			padding-right: 20px;
			margin-right: 20px;
		}
	}
	@media #{$xs} {
		flex-direction: column;
		.mission-vision-list {
			padding-right: 0px;
			margin-right: 0px;
			border-right: none;
			.mission-vision-desc {
				margin-top: 10px;
			}
		}
	}
}

.about-video-thumb {
	position: relative;
	margin-top: -245px;
	img {
		border-radius: 50px;
	}
	.ab-video-button {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			width: 150px;
			height: 150px;
			background: url(../images/shapes/video-circle.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			width: 210px;
			height: 210px;
			background: url(../images/shapes/video-shapes.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transform: translate(-50%, -50%);
		}
		img {
			position: relative;
			border-radius: 0px;
			z-index: 1;
		}
	}
	@media #{$lg} {
		margin-top: -185px;
	}
	@media #{$sm} {
		margin-top: -160px;
		.ab-video-button {
			&::before {
				width: 100px;
				height: 100px;
			}
			&::after {
				width: 140px;
				height: 140px;
			}
		}
	}
	@media #{$sm} {
		margin-top: -160px;
		.ab-video-button {
			&::before {
				width: 100px;
				height: 100px;
			}
			&::after {
				width: 140px;
				height: 140px;
			}
		}
	}
	@media #{$xs} {
		margin-top: -85px;
		img {
			border-radius: 15px;
		}
		.ab-video-button {
			&::before {
				width: 65px;
				height: 65px;
			}
			&::after {
				width: 95px;
				height: 95px;
			}
		}
	}
}

.about-3-wrapper {
	display: flex;
	flex-direction: column;
	column-gap: 20px;
	row-gap: 20px;
	.about-top-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: end;
		column-gap: 25px;
		position: relative;
		.about-images {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 510px;
			width: 100%;
			img {
				border-radius: 50px;
			}
		}
	}
	.heading-area {
		position: relative;
		z-index: 1;
		.sub-title {
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: var(--fa-color-theme-primary);
			-webkit-text-fill-color: transparent;
		}
	}
}

.about-bottom-wrap {
	display: flex;
	align-items: center;
	column-gap: 25px;
	.about-thumb-wrap {
		max-width: 790px;
		width: 100%;
		img {
			border-radius: 50px;
			height: 400px;
			width: 100%;
			object-fit: cover;
		}
	}
}

.about-list-wrap {
	display: inline-flex;
	width: 395px;
	height: 400px;
	flex-direction: column;
	background: var(--fa-color-theme-primary);
	mask-image: url(../images/shapes/h3-about-shape.svg);
	mask-repeat: no-repeat;
	mask-size: cover;
	mask-position: center;
	padding: 72px 52px;
	.about-text {
		margin-bottom: 30px;
		.about-title {
			display: flex;
			align-items: center;
			column-gap: 20px;
			color: var(--fa-color-common-white);
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
	}
	.about-list {
		ul {
			li {
				display: flex;
				align-items: center;
				column-gap: 15px;
				font-size: 24px;
				color: var(--fa-color-common-white);
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.about-count-wrap {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 395px;
	height: 400px;
	background: var(--fa-color-theme-secondary);
	mask-image: url(../images/shapes/h3-about-shape.svg);
	mask-repeat: no-repeat;
	mask-size: cover;
	mask-position: center;
	.fa-count {
		display: block;
		color: var(--fa-color-common-white);
		font-size: 80px;
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-black);
		line-height: 1;
	}
	.sub-title {
		display: block;
		font-size: 24px;
		color: var(--fa-color-common-white);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-bold);
		margin-top: 10px;
	}
}
/* !END: Theme About CSS */
