@use "../utilities" as *;

/**----------------------------------------
START: Theme About CSS
----------------------------------------*/
.fa-about-section {
	padding-top: 150px;
	padding-bottom: 150px;
	.heading-area {
		.sec-title {
			margin-top: -80px;
		}
	}
	&.v-2 {
		background: linear-gradient(
			360deg,
			var(--fa-color-grey-6) 0%,
			var(--fa-color-grey-7) 100%
		);
		.heading-area {
			display: flex;
			align-items: end;
			justify-content: space-between;
			column-gap: 140px;
			max-width: 1770px;
			width: 100%;
			margin-left: auto;
			.sub-title {
				-webkit-text-stroke-width: 3px;
				-webkit-text-stroke-color: var(--fa-color-theme-primary);
				-webkit-text-fill-color: var(--fa-color-grey-7);
			}
			.header-desc {
				max-width: 375px;
				width: 100%;
				.desc {
					font-size: 18px;
					color: var(--fa-color-heading-primary);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-medium);
					margin-bottom: 75px;
				}
			}
		}
	}
	&.v-3 {
		padding-top: 0;
	}
}

.about-feature-wrap {
	display: flex;
	justify-content: space-between;
	position: relative;
	.feature-brand {
		display: flex;
		align-items: center;
		column-gap: 70px;
		.brand-title {
			display: flex;
			align-items: center;
			column-gap: 20px;
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
	}
}

.mission-vision-item {
	display: flex;
	align-items: center;
	column-gap: 65px;
	background: var(--fa-color-theme-secondary);
	padding: 37px 60px 36px;
	border-radius: 50px;
	position: absolute;
	max-width: 820px;
	left: 0;
	bottom: 55px;
	width: 100%;
	z-index: 2;
	.mission-vision-list {
		.mission-vision-title {
			color: var(--fa-color-common-white);
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
		.mission-vision-desc {
			font-size: 18px;
			color: var(--fa-color-grey-5);
			font-family: var(--fa-ff-heading);
			font-weight: var(--fa-fw-medium);
			margin-top: 20px;
			margin-bottom: 0;
			line-height: 1.9;
		}
	}
}

.about-video-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.about-content {
		display: flex;
		align-items: center;
		column-gap: 50px;
		.about-images {
			max-width: 600px;
			width: 100%;
			img {
				width: 100%;
				border-radius: 50px;
			}
		}
		.about-text {
			max-width: 656px;
			width: 100%;
			.about-desc {
				font-size: 18px;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-medium);
				margin-bottom: 0;
				line-height: 1.9;
			}
			.about-button {
				margin-top: 40px;
			}
		}
	}
	.about-video-btn {
		max-width: 210px;
		width: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		.video-btn {
			display: inline-block;
			position: relative;
			&::before {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 150px;
				height: 150px;
				background: url(../images/shapes/video-circle.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				width: 210px;
				height: 210px;
				background: url(../images/shapes/video-mask.svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}
	}
}

.about-images-group {
	max-width: 870px;
	width: 100%;
	mask-image: url(../images/shapes/about-mask-images.svg);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: cover;
	border-radius: 50px;
	img {
		border-radius: 50px;
	}
}

.feature-list-one {
	li {
		display: flex;
		align-items: center;
		column-gap: 15px;
		font-size: 24px;
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-sbold);
		color: var(--fa-color-heading-primary);
	}
}

.about-content-wrap {
	display: flex;
	column-gap: 25px;
	justify-content: space-between;
}

.about-count-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	left: -85px;
	max-width: 488px;
	height: 490px;
	width: 100%;
	background: var(--fa-color-common-white);
	text-align: center;
	mask-image: url(../images/shapes/ab-mask.svg);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: cover;
	z-index: 1;
	.ab-count {
		display: flex;
		align-items: end;
		position: relative;
		left: -70px;
		top: 50px;
		font-size: 150px;
		color: var(--fa-color-heading-primary);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-black);
		line-height: 1;
		.ab-icons {
			position: absolute;
			right: -10px;
			bottom: -30px;
		}
	}
	.sub-title {
		display: block;
		left: -65px;
		top: 50px;
		position: relative;
		font-size: 24px;
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-sbold);
	}
}

.mission-vision-wrap {
	display: flex;
	align-items: start;
	.mission-vision-list {
		max-width: 410px;
		width: 100%;
		border-right: 1px solid rgba(24, 16, 52, 0.3);
		padding-right: 70px;
		margin-right: 70px;
		&:last-child {
			border-right: none;
			padding-right: 0px;
			margin-right: 0px;
			max-width: 325px;
		}
		.mission-vision-title {
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
		.mission-vision-desc {
			font-size: 18px;
			font-family: var(--fa-ff-heading);
			font-family: var(--fa-fw-medium);
			margin-top: 20px;
			margin-bottom: 0;
			line-height: 1.8;
		}
	}
}

.about-video-thumb {
	position: relative;
	margin-top: -245px;
	img {
		border-radius: 50px;
	}
	.ab-video-button {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			width: 150px;
			height: 150px;
			background: url(../images/shapes/video-circle.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			width: 210px;
			height: 210px;
			background: url(../images/shapes/video-shapes.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transform: translate(-50%, -50%);
		}
		img {
			position: relative;
			border-radius: 0px;
			z-index: 1;
		}
	}
}

.about-3-wrapper {
	.about-top-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: end;
		column-gap: 25px;
		position: relative;
		.about-images {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 510px;
			width: 100%;
			img {
				border-radius: 50px;
			}
		}
	}
	.heading-area {
		position: relative;
		z-index: 1;
		.sub-title {
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: var(--fa-color-theme-primary);
			-webkit-text-fill-color: transparent;
		}
	}
}
/* !END: Theme About CSS */
