@use "../utilities" as *;

/**----------------------------------------
START: Theme Blog CSS
----------------------------------------*/
.fa-blog-section {
	padding-top: 135px;
	padding-bottom: 86px;
	.heading-area {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&.v-2 {
		.blog-main-wrapper {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&.v-3 {
		background: linear-gradient(
			360deg,
			var(--fa-color-grey-6) 0%,
			var(--fa-color-grey-7) 78.85%
		);
		.blog-main-wrapper {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.blog-main-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 24px;
}

.blog-item {
	display: flex;
	align-items: center;
	column-gap: 35px;
	border-top: 1px solid var(--fa-color-border-2);
	padding-top: 24px;
	margin-bottom: 24px;
	.blog-content {
		text-align: end;
		.sub-title {
			display: inline-flex;
			align-items: center;
			column-gap: 10px;
			font-size: 18px;
			font-weight: var(--fa-fw-sbold);
			color: var(--fa-color-common-white);
			background: var(--fa-color-theme-secondary);
			border-radius: 100px;
			padding: 12px 20px;
			margin-bottom: 30px;
			&.btn-1 {
				background: var(--fa-color-theme-primary);
			}
		}
		.blog-title {
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
			line-height: 1.3;
		}
		.read-more-btn {
			margin-top: 30px;
		}
	}
	.blog-images {
		position: relative;
		max-width: 330px;
		width: 100%;
		overflow: hidden;
		border-radius: 24px;
		a {
			display: inline-block;
			img {
				width: 100%;
				border-radius: 24px;
			}
		}
	}
	&.style-2 {
		border: 1px solid var(--fa-color-border-3);
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
		padding: 35px 52px 35px 37px;
		border-radius: 50px;
		.blog-content {
			max-width: 470px;
			width: 100%;
			text-align: start;
			.read-more-btn {
				justify-content: center;
			}
			.blog-author-wrap {
				display: flex;
				align-items: center;
				column-gap: 30px;
				margin-bottom: 40px;
				.author-item {
					display: flex;
					align-items: center;
					column-gap: 15px;
					.author-images {
						max-width: 70px;
						width: 100%;
						img {
							background: var(--fa-color-theme-secondary);
							mask-image: url(../images/shapes/h2-blog-shapes.svg);
							mask-position: center;
							mask-size: cover;
							mask-repeat: no-repeat;
						}
					}
					.author-name {
						font-weight: var(--fa-fw-bold);
						margin-bottom: 0;
					}
				}
				.sub-title {
					margin-bottom: 0;
				}
			}
		}
		.blog-images {
			max-width: 580px;
			a {
				width: 100%;
				img {
					height: 300px;
					object-fit: cover;
				}
			}
		}
		.blog-text {
			max-width: 365px;
			width: 100%;
			.blog-date {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 120px;
				height: 120px;
				background: var(--fa-color-theme-secondary);
				border-radius: 50%;
				.number {
					display: block;
					font-size: 30px;
					color: var(--fa-color-common-white);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-black);
					line-height: 28px;
				}
				.date {
					display: block;
					font-size: 18px;
					color: var(--fa-color-common-white);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-sbold);
					margin-top: 6px;
					line-height: 28px;
				}
			}
			.desc {
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-medium);
				margin-top: 40px;
				margin-bottom: 0;
				line-height: 1.8;
			}
		}
	}
	&.style-3 {
		flex-direction: column;
		padding-top: 0px;
		border-top: none;
		.blog-images {
			position: relative;
			max-width: 100%;
			width: 100%;
			height: 100%;
			mask-image: url(../images/shapes/h3-blog-shapes.svg);
			mask-size: cover;
			mask-repeat: no-repeat;
			mask-position: center;
			img {
				height: 445px;
				object-fit: cover;
			}
			.blog-date {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 120px;
				height: 120px;
				background: rgba(77, 53, 172, 0.4);
				backdrop-filter: blur(10px);
				border-radius: 50%;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 20px;
				.date {
					display: block;
					font-size: 30px;
					color: var(--fa-color-common-white);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-black);
					line-height: 1.1;
				}
				.month {
					display: block;
					font-size: 18px;
					color: var(--fa-color-common-white);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-sbold);
				}
			}
		}
		.blog-content {
			background: var(--fa-color-common-white);
			box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
			border-radius: 50px;
			padding: 88px 27px 31px;
			margin-top: -60px;
			text-align: start;
			.blog-author-wrap {
				display: flex;
				align-items: center;
				column-gap: 30px;
				margin-bottom: 40px;
				.blog-author {
					display: flex;
					align-items: center;
					column-gap: 15px;
					.author-images {
						max-width: 70px;
						width: 100%;
						img {
							width: 100%;
						}
					}
					.author-name {
						margin-bottom: 0;
					}
				}
			}
			.sub-title {
				margin-bottom: 0;
			}
			.read-more-btn {
				justify-content: center;
				border: 1px solid rgba(0, 0, 0, 0.2);
				padding: 21px 25px;
				border-radius: 50px;
			}
		}
	}
}

/* !END: Theme Blog CSS */
