@use "../utilities" as *;

/**----------------------------------------
START: Theme Blog Details CSS
----------------------------------------*/
.blog-details-section {
	padding-top: 150px;
	padding-bottom: 150px;
}

.blog-details-left-wrap {
	.meta-style-two {
		padding-top: 40px;
		padding-bottom: 15px;
	}
}

.blog-details-text {
	max-width: 815px;
	width: 100%;
	.blog-title {
		font-weight: var(--fa-fw-bold);
		margin-bottom: 20px;
	}
	.desc {
		font-weight: var(--fa-fw-medium);
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.meta-style-two {
	ul {
		display: flex;
		align-items: center;
		column-gap: 30px;
		li {
			display: flex;
			align-items: center;
			column-gap: 8px;
			font-weight: var(--fa-fw-sbold);
		}
	}
}
/* !END: Theme Blog Details CSS */
