@use "../utilities" as *;

/**----------------------------------------
START: Theme Blog CSS
----------------------------------------*/
.fa-blog-section {
	padding-top: 120px;
	padding-bottom: 120px;
	.heading-area {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		row-gap: 25px;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&.v-2 {
		.blog-main-wrapper {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&.v-3 {
		background: linear-gradient(
			360deg,
			var(--fa-color-grey-6) 0%,
			var(--fa-color-grey-7) 78.85%
		);
		.blog-main-wrapper {
			grid-template-columns: repeat(3, 1fr);
			row-gap: 24px;
		}
		@media #{$lg} {
			.blog-main-wrapper {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media #{$md} {
			padding-bottom: 80px;
			.heading-area {
				flex-direction: column;
				text-align: center;
			}
			.blog-main-wrapper {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media #{$sm, $xs} {
			padding-bottom: 80px;
			.heading-area {
				flex-direction: column;
				text-align: center;
			}
			.blog-main-wrapper {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
	@media #{$lg} {
		padding-top: 120px;
	}
	@media #{$md} {
		padding-top: 80px;
		padding-bottom: 56px;
	}
	@media #{$sm, $xs} {
		padding-top: 80px;
		padding-bottom: 56px;
		.heading-area {
			flex-direction: column-reverse;
			justify-content: center;
			text-align: center;
		}
	}
}

.blog-inner-section {
	padding-top: 150px;
	padding-bottom: 150px;
	@media #{$lg} {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@media #{$md, $sm, $xs} {
		padding-top: 80px;
		padding-bottom: 50px;
		.fa-main-sidebar {
			margin-top: 50px;
		}
	}
}

.blog-main-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 24px;
	@media #{$md, $sm, $xs} {
		grid-template-columns: repeat(1, 1fr);
	}
}

.blog-inner-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

.blog-item {
	display: flex;
	align-items: center;
	column-gap: 35px;
	row-gap: 25px;
	border-top: 1px solid var(--fa-color-border-2);
	padding-top: 24px;
	margin-bottom: 24px;
	.blog-content {
		text-align: end;
		.sub-title {
			display: inline-flex;
			align-items: center;
			column-gap: 10px;
			font-size: 18px;
			font-weight: var(--fa-fw-sbold);
			color: var(--fa-color-common-white);
			background: var(--fa-color-theme-secondary);
			border-radius: 100px;
			padding: 12px 20px;
			margin-bottom: 30px;
			&.btn-1 {
				background: var(--fa-color-theme-primary);
			}
		}
		.blog-title {
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
			line-height: 1.3;
		}
		.read-more-btn {
			margin-top: 30px;
		}
	}
	.blog-images {
		position: relative;
		max-width: 330px;
		width: 100%;
		overflow: hidden;
		border-radius: 24px;
		a {
			display: inline-block;
			img {
				width: 100%;
				border-radius: 24px;
			}
		}
	}
	&.style-2 {
		border: 1px solid var(--fa-color-border-3);
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
		padding: 35px 52px 35px 37px;
		border-radius: 50px;
		.blog-content {
			max-width: 470px;
			width: 100%;
			text-align: start;
			.read-more-btn {
				justify-content: center;
			}
			.blog-author-wrap {
				display: flex;
				align-items: center;
				column-gap: 30px;
				margin-bottom: 40px;
				.author-item {
					display: flex;
					align-items: center;
					column-gap: 15px;
					.author-images {
						max-width: 70px;
						width: 100%;
						img {
							background: var(--fa-color-theme-secondary);
							mask-image: url(../images/shapes/h2-blog-shapes.svg);
							mask-position: center;
							mask-size: cover;
							mask-repeat: no-repeat;
						}
					}
					.author-name {
						font-weight: var(--fa-fw-bold);
						margin-bottom: 0;
					}
				}
				.sub-title {
					margin-bottom: 0;
				}
			}
		}
		.blog-images {
			max-width: 580px;
			a {
				width: 100%;
				img {
					height: 300px;
					object-fit: cover;
				}
			}
		}
		.blog-text {
			max-width: 365px;
			width: 100%;
			.blog-date {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 120px;
				height: 120px;
				background: var(--fa-color-theme-secondary);
				border-radius: 50%;
				.number {
					display: block;
					font-size: 30px;
					color: var(--fa-color-common-white);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-black);
					line-height: 28px;
				}
				.date {
					display: block;
					font-size: 18px;
					color: var(--fa-color-common-white);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-sbold);
					margin-top: 6px;
					line-height: 28px;
				}
			}
			.desc {
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-medium);
				margin-top: 40px;
				margin-bottom: 0;
				line-height: 1.8;
			}
		}
		@media #{$md, $sm} {
			flex-direction: column;
			padding: 35px 15px 35px 15px;
			.blog-content {
				max-width: 100%;
			}
			.blog-images {
				max-width: 100%;
			}
			.blog-text {
				max-width: 100%;
			}
		}
		@media #{$xs} {
			flex-direction: column;
			padding: 35px 15px 35px 15px;
			border-radius: 15px;
			.blog-content {
				max-width: 100%;
				.read-more-btn {
					padding: 13px 25px;
				}
				.blog-author-wrap {
					margin-bottom: 20px;
				}
			}
			.blog-images {
				max-width: 100%;
			}
			.blog-text {
				max-width: 100%;
				.desc {
					margin-top: 25px;
				}
			}
		}
	}
	&.style-3 {
		flex-direction: column;
		padding-top: 0px;
		border-top: none;
		position: relative;
		overflow: hidden;
		border-radius: 50px;
		max-width: 522px;
		margin-bottom: 0;
		width: 100%;
		&::before {
			content: "";
			position: absolute;
			right: -35px;
			bottom: 20%;
			width: 125px;
			height: 125px;
			border-radius: 50%;
			background: var(--fa-color-theme-primary);
			background: radial-gradient(
				75% 75% at 75% 75%,
				var(--fa-color-theme-primary) 0%,
				rgba(0, 0, 0, 0) 100%
			);
			-webkit-filter: blur(50px);
			filter: blur(75px);
		}
		&::after {
			content: "";
			position: absolute;
			right: -35px;
			bottom: 0;
			width: 125px;
			height: 125px;
			border-radius: 50%;
			background: var(--fa-color-theme-secondary);
			background: radial-gradient(
				75% 75% at 75% 75%,
				var(--fa-color-theme-secondary) 0%,
				rgba(0, 0, 0, 0) 100%
			);
			-webkit-filter: blur(50px);
			filter: blur(75px);
		}
		.blog-images {
			position: relative;
			max-width: 522px;
			width: 100%;
			height: 445px;
			mask-image: url(../images/shapes/h3-blog-shapes.svg);
			mask-size: cover;
			mask-repeat: no-repeat;
			mask-position: center;
			img {
				height: 445px;
				object-fit: cover;
			}
			.blog-date {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 120px;
				height: 120px;
				background: rgba(77, 53, 172, 0.4);
				backdrop-filter: blur(10px);
				border-radius: 50%;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 20px;
				.date {
					display: block;
					font-size: 30px;
					color: var(--fa-color-common-white);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-black);
					line-height: 1.1;
				}
				.month {
					display: block;
					font-size: 18px;
					color: var(--fa-color-common-white);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-sbold);
				}
			}
			@media #{$xxl} {
				height: 375px;
			}
			@media #{$sm} {
				max-width: 100%;
			}
		}
		.blog-content {
			background: var(--fa-color-common-white);
			box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
			border-radius: 50px;
			padding: 88px 27px 31px;
			margin-top: -60px;
			text-align: start;
			.blog-author-wrap {
				display: flex;
				align-items: center;
				column-gap: 30px;
				margin-bottom: 40px;
				.blog-author {
					display: flex;
					align-items: center;
					column-gap: 15px;
					.author-images {
						position: relative;
						max-width: 70px;
						padding: 2px;
						width: 100%;
						&::before {
							position: absolute;
							content: "";
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							background: var(--fa-color-theme-secondary);
							mask-image: url(../images/shapes/h2-blog-shapes.svg);
							mask-position: center;
							mask-size: cover;
							mask-repeat: no-repeat;
						}
						img {
							mask-image: url(../images/shapes/h2-blog-shapes.svg);
							mask-position: center;
							mask-size: cover;
							mask-repeat: no-repeat;
						}
					}
					.author-name {
						margin-bottom: 0;
					}
				}
			}
			.sub-title {
				margin-bottom: 0;
			}
			.read-more-btn {
				position: relative;
				justify-content: center;
				border: 1px solid rgba(0, 0, 0, 0.2);
				padding: 21px 25px;
				border-radius: 50px;
				background: var(--fa-color-common-white);
				z-index: 2;
			}
			@media #{$xxl} {
				padding: 88px 20px 31px;
			}
			@media #{$md} {
				padding: 50px 15px 30px;
				.sub-title {
					font-size: 16px;
					padding: 10px 15px;
				}
				.blog-author-wrap {
					column-gap: 15px;
					margin-bottom: 30px;
				}
			}
			@media #{$sm} {
				padding: 50px 15px 30px;
				width: 100%;
				.sub-title {
					font-size: 16px;
					padding: 10px 15px;
				}
				.blog-author-wrap {
					column-gap: 15px;
					margin-bottom: 30px;
				}
			}
			@media #{$xs} {
				padding: 50px 15px 30px;
				border-radius: 15px;
				width: 100%;
				.sub-title {
					font-size: 16px;
					padding: 10px 15px;
				}
				.blog-author-wrap {
					column-gap: 10px;
					margin-bottom: 30px;
					.blog-author {
						.author-images {
							max-width: 45px;
						}
						.author-name {
							font-size: 16px;
						}
					}
				}
			}
			.read-more-btn {
				padding: 14px 15px;
			}
		}
		@media #{$sm} {
			max-width: 100%;
		}
		@media #{$xs} {
			max-width: 100%;
			border-radius: 15px;
		}
	}
	@media #{$xl, $lg, $md} {
		.blog-content {
			.sub-title {
				margin-bottom: 20px;
			}
			.read-more-btn {
				margin-top: 20px;
			}
		}
	}
	@media #{$sm} {
		.blog-content {
			.sub-title {
				margin-bottom: 15px;
			}
			.read-more-btn {
				margin-top: 15px;
			}
		}
	}
	@media #{$xs} {
		flex-direction: column;
		.blog-images {
			border-radius: 15px;
			a {
				img {
					border-radius: 15px;
				}
			}
		}
		.blog-content {
			.sub-title {
				margin-bottom: 15px;
			}
			.read-more-btn {
				margin-top: 15px;
			}
		}
	}
}

.blog-inner-item {
	.blog-images {
		position: relative;
		a {
			display: inline-block;
			img {
				border-radius: 50px;
			}
		}
		.blog-date {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 120px;
			height: 120px;
			position: absolute;
			bottom: 0;
			right: 0;
			background: rgba(77, 53, 172, 0.4);
			border-radius: 50%;
			.date {
				display: block;
				font-size: 30px;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-black);
				color: var(--fa-color-common-white);
			}
			.month {
				display: block;
				font-size: 18px;
				color: var(--fa-color-common-white);
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
			}
		}
	}
	.blog-meta {
		margin-top: 40px;
		margin-bottom: 15px;
	}
	.blog-content {
		max-width: 850px;
		width: 100%;
		.blog-title {
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
		.desc {
			font-weight: var(--fa-fw-medium);
			margin-top: 20px;
			margin-bottom: 0;
		}
		.blog-button {
			margin-top: 30px;
		}
	}
	@media #{$sm, $xs} {
		.blog-images {
			a {
				img {
					border-radius: 15px;
				}
			}
		}
	}
}

.blog-meta {
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 30px;
		li {
			display: flex;
			align-items: center;
			column-gap: 10px;
			font-weight: var(--fa-fw-sbold);
		}
	}
}

.page-pagination {
	margin-top: 60px;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 15px;
		li {
			.page-numbers {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 45px;
				height: 45px;
				line-height: 1;
				font-size: 18px;
				color: var(--fa-color-heading-primary);
				font-family: var(--fa-ff-heading);
				background: transparent;
				border: 1px solid var(--fa-color-border-4);
				font-weight: var(--fa-fw-sbold);
				border-radius: 8px;
				transition: all 0.3s ease-in-out 0s;
				i {
					font-size: 12px;
					color: var(--fa-color-heading-primary);
				}
				&:hover,
				&.current {
					background-color: var(--fa-color-heading-primary);
					border-color: var(--fa-color-theme-secondary);
					color: var(--fa-color-common-white);
					i {
						color: var(--fa-color-common-white);
					}
				}
			}
		}
	}
}
/* !END: Theme Blog CSS */
