@use "../utilities" as *;

/**----------------------------------------
START: Theme Brand CSS
----------------------------------------*/
.fa-brand-section {
	padding-bottom: 110px;
}

.brand-main-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
/* !END: Theme Brand CSS */
