@use "../utilities" as *;

/**----------------------------------------
START: Theme Brand CSS
----------------------------------------*/
.fa-brand-section {
	padding-bottom: 120px;
	@media #{$md, $sm, $xs} {
		padding-bottom: 80px;
	}
}

/* !END: Theme Brand CSS */
