@use "../utilities" as *;

/**----------------------------------------
START: Theme Breadcrumb CSS
----------------------------------------*/
.fa-breadcrumb-area {
	background-color: var(--fa-color-theme-bg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 450px;
	padding-bottom: 100px;
}

.breadcrumb-heading {
	.breadcrumb-title {
		font-size: 150px;
		color: var(--fa-color-common-white);
		font-weight: var(--fa-fw-black);
		margin-bottom: 20px;
		line-height: 1;
	}
	.page-link {
		display: flex;
		align-items: center;
		column-gap: 15px;
		font-size: 30px;
		color: var(--fa-color-common-white);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-sbold);
		margin-top: 30px;
	}
}

/* !END: Breadcrumb CSS */
