@use "../utilities" as *;

/**----------------------------------------
START: Theme Choose CSS
----------------------------------------*/
.fa-choose-section {
	position: relative;
	padding-top: 150px;
	padding-bottom: 120px;
	background: linear-gradient(
		360deg,
		var(--fa-color-grey-6) 0%,
		var(--fa-color-grey-7) 78.85%
	);
	.heading-area {
		.sub-title {
			margin-bottom: 60px;
		}
		.sec-title {
			margin-top: -30px;
		}
	}
	.choose-bg-images {
		position: absolute;
		right: 0;
		bottom: 0;
		max-width: 890px;
		width: 100%;
	}
	@media #{$xl} {
		padding-top: 120px;
		.choose-bg-images {
			max-width: 865px;
		}
	}
	@media #{$lg} {
		padding-top: 120px;
		.choose-bg-images {
			max-width: 865px;
		}
	}
	@media #{$md, $sm} {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@media #{$xs} {
		padding-top: 80px;
		padding-bottom: 80px;
		.heading-area {
			.sec-title {
				margin-top: -40px;
			}
		}
	}
}

.choose-main-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 16px;
	row-gap: 16px;
	position: relative;
	max-width: 1290px;
	width: 100%;
	z-index: 2;
	@media #{$lg, $md} {
		grid-template-columns: repeat(2, 1fr);
	}
	@media #{$sm, $xs} {
		grid-template-columns: repeat(1, 1fr);
	}
}

.choose-item {
	position: relative;
	background: var(--fa-color-common-white);
	mask-image: url(../images/shapes/choose-shape.svg);
	mask-repeat: no-repeat;
	mask-size: cover;
	mask-position: center;
	max-width: 420px;
	width: 100%;
	border-radius: 50px;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 25%,
			var(--fa-color-common-white) 45%
		);
	}
	.choose-images {
		img {
			width: 100%;
			height: 250px;
			object-fit: cover;
		}
	}
	.choose-content {
		position: relative;
		padding: 0px 30px 42px;
		z-index: 1;
		.choose-header {
			display: flex;
			align-items: center;
			column-gap: 16px;
			.choose-title {
				font-size: 24px;
				color: var(--fa-color-heading-primary);
				font-weight: var(--fa-fw-bold);
				font-family: var(--fa-ff-heading);
				margin-bottom: 0;
			}
		}
		.choose-list {
			margin-top: 30px;
			ul {
				li {
					display: flex;
					align-items: center;
					column-gap: 15px;
					font-size: 18px;
					color: var(--fa-color-theme-secondary);
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-sbold);
					margin-bottom: 14px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	@media #{$lg, $md, $sm} {
		max-width: 100%;
	}
	@media #{$xs} {
		max-width: 100%;
		border-radius: 15px;
		.choose-content {
			padding: 0px 15px 30px;
		}
	}
}

/* !END: Theme Choose CSS */
