@use "../utilities" as *;

/**----------------------------------------
START: Theme Counter CSS
----------------------------------------*/
.fa-counter-section {
	position: relative;
	border-bottom: 1px solid var(--fa-color-theme-bg);
	margin-top: -125px;
	.h1-counter-shapes {
		position: absolute;
		top: -60px;
		left: 0;
	}
	@media #{$xxl} {
		.h1-counter-shapes {
			top: -56px;
		}
	}
	@media #{$lg} {
		.h1-counter-shapes {
			top: -38px;
		}
	}
	@media #{$md, $sm} {
		border-bottom: none;
		margin-top: -80px;
		.h1-counter-shapes {
			display: none;
		}
	}
	@media #{$xs} {
		border-bottom: none;
		margin-top: -40px;
		.h1-counter-shapes {
			display: none;
		}
	}
}

.counter-main-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
	row-gap: 30px;
	.counter-item {
		position: relative;
		padding: 118px 70px 118px 0;
		margin-right: 75px;
		&::before {
			position: absolute;
			content: "";
			width: 1px;
			height: 101.5%;
			right: 0;
			bottom: 0;
			background: var(--fa-color-theme-bg);
		}
		&:nth-child(2) {
			&::before {
				height: 113.5%;
			}
		}
		&:nth-child(3) {
			&::before {
				height: 104.5%;
			}
		}
		&:last-child {
			padding-right: 0px;
			margin-right: 0px;
			border-right: none;
			&::before {
				display: none;
			}
		}
		.number-count {
			display: flex;
			align-items: end;
			column-gap: 10px;
			position: relative;
			.fa-count {
				display: flex;
				align-items: center;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-black);
				font-size: 145px;
				color: var(--fa-color-heading-primary);
				margin-bottom: 0;
				line-height: 1;
				span {
					font-family: var(--fa-ff-heading);
				}
			}
			.subtitle {
				font-size: 24px;
				color: var(--fa-color-theme-primary);
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
				position: relative;
				top: -40px;
				line-height: 1;
			}
		}
		.count-subtitle {
			display: block;
			font-size: 24px;
			font-family: var(--fa-ff-heading);
			font-weight: var(--fa-fw-sbold);
			margin-top: 5px;
			line-height: 1;
		}
	}
	@media #{$xxl} {
		.counter-item {
			padding: 118px 45px 118px 0;
			margin-right: 45px;
			&::before {
				height: 102%;
			}
			&:nth-child(2) {
				&::before {
					height: 113.4%;
				}
			}
			&:nth-child(3) {
				&::before {
					height: 104.5%;
				}
			}
			.number-count {
				.fa-count {
					font-size: 125px;
				}
				.subtitle {
					top: -35px;
				}
			}
		}
	}
	@media #{$xl} {
		.counter-item {
			padding: 65px 55px 65px 0;
			margin-right: 55px;
			&::before {
				height: 108.5%;
			}
			&:nth-child(2) {
				&::before {
					height: 122.2%;
				}
			}
			&:nth-child(3) {
				&::before {
					height: 106.4%;
				}
			}
			.number-count {
				.fa-count {
					font-size: 85px;
				}
				.subtitle {
					top: -25px;
				}
			}
		}
	}
	@media #{$lg} {
		.counter-item {
			padding: 65px 30px 65px 0;
			margin-right: 30px;
			&::before {
				height: 104.5%;
			}
			&:nth-child(2) {
				&::before {
					height: 115.2%;
				}
			}
			.number-count {
				.fa-count {
					font-size: 75px;
				}
				.subtitle {
					top: -20px;
				}
			}
			.count-subtitle {
				font-size: 20px;
			}
		}
	}
	@media #{$md} {
		column-gap: 25px;
		.counter-item {
			padding: 0px 0px 0px 0;
			margin-right: 0px;
			&::before {
				display: none;
			}
			.number-count {
				.fa-count {
					font-size: 70px;
				}
				.subtitle {
					top: -20px;
				}
			}
			.count-subtitle {
				font-size: 18px;
			}
		}
	}
	@media #{$sm} {
		column-gap: 25px;
		.counter-item {
			padding: 0px 0px 0px 0;
			margin-right: 0px;
			&::before {
				display: none;
			}
			.number-count {
				.fa-count {
					font-size: 65px;
				}
				.subtitle {
					top: -20px;
				}
			}
			.count-subtitle {
				font-size: 18px;
			}
		}
	}
	@media #{$xs} {
		column-gap: 25px;
		.counter-item {
			padding: 0px 0px 0px 0;
			margin-right: 0px;
			&::before {
				display: none;
			}
			.number-count {
				.fa-count {
					font-size: 60px;
				}
				.subtitle {
					font-size: 20px;
					top: -18px;
				}
			}
			.count-subtitle {
				font-size: 16px;
			}
		}
	}
}

/* !END: Theme Counter CSS */
