@use "../utilities" as *;

/**----------------------------------------
START: Theme FAQ CSS
----------------------------------------*/
.fa-faq-section {
	padding-top: 150px;
	padding-bottom: 120px;
	.heading-area {
		display: flex;
		align-items: end;
		.sub-title {
			writing-mode: vertical-lr;
			text-orientation: mixed;
			transform: rotate(-180deg);
			margin-bottom: 0;
		}
		.sec-title {
			writing-mode: vertical-lr;
			text-orientation: mixed;
			transform: rotate(-180deg);
			background: linear-gradient(
				180deg,
				var(--fa-color-theme-bg) 0%,
				var(--fa-color-common-white) 100%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			margin-top: 0;
		}
	}
	@media #{$lg} {
		padding-top: 120px;
	}
	@media #{$md, $sm, $xs} {
		padding-top: 80px;
		padding-bottom: 80px;
		.heading-area {
			display: initial;
			width: 100%;
			margin-bottom: 50px;
			text-align: center;
			.sub-title {
				writing-mode: initial;
				text-orientation: initial;
				transform: rotate(0deg);
			}
			.sec-title {
				writing-mode: initial;
				text-orientation: initial;
				transform: rotate(0deg);
				margin-top: 15px;
			}
		}
	}
}

.faq-main-wrapper {
	display: flex;
	align-items: start;
	column-gap: 105px;
	.fa-faq-wrap {
		width: 100%;
	}
	@media #{$xl} {
		column-gap: 65px;
	}
	@media #{$lg} {
		column-gap: 45px;
	}
	@media #{$md, $sm, $xs} {
		flex-direction: column;
		column-gap: 45px;
	}
}

.accordion-item {
	position: relative;
	border: none;
	box-shadow: none;
	background: transparent;
	margin-bottom: 20px;
	border: 1px solid rgba(40, 38, 36, 0.3);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
	border-radius: 50px;
	z-index: 2;
	&.style-2 {
		.faq-title {
			padding: 25px 75px 25px 130px;
		}
		.faq-text {
			padding: 0px 115px 25px 130px;
		}
		@media #{$lg, $md, $sm} {
			.faq-title {
				padding: 25px 45px 25px 95px;
			}
			.faq-text {
				padding: 0px 35px 25px 95px;
			}
		}
		@media #{$xs} {
			.faq-title {
				padding: 15px 40px 15px 75px;
			}
			.faq-text {
				padding: 0px 10px 25px 75px;
			}
		}
	}
	&:not(:first-of-type) {
		border-top: 1px solid rgba(40, 38, 36, 0.3);
	}
	&:first-of-type {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:last-of-type {
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.faq-title {
		display: flex;
		align-items: center;
		font-size: 30px;
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-bold);
		padding: 25px 75px 25px 112px;
		position: relative;
		color: var(--fa-color-heading-primary);
		width: 100%;
		text-align: left;
		&.collapsed {
			color: var(--fa-color-heading-primary);
		}
		&:before {
			position: absolute;
			content: "";
			top: 25px;
			right: 25px;
			background: url(../images/icons/faq.svg);
			transition: all 0.3s ease-in-out 0s;
			width: 50px;
			height: 50px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
		@media #{$lg, $md, $sm} {
			&:before {
				top: 20px;
			}
		}
		@media #{$xs} {
			&:before {
				width: 40px;
				height: 40px;
				top: 10px;
			}
		}
		&:not(.collapsed) {
			box-shadow: none;
			&::before {
				transform: rotate(90deg);
			}
		}
		&:focus {
			box-shadow: none;
		}
		.number {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 72px;
			height: 72px;
			color: var(--fa-color-common-white);
			font-size: 24px;
			font-family: var(--fa-ff-heading);
			background: var(--fa-color-theme-secondary);
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 14px;
		}
	}
	.faq-text {
		padding: 0px 115px 25px 112px;
		p {
			font-size: 18px;
			color: var(--fa-color-text-body);
			font-weight: var(--fa-fw-medium);
			font-family: var(--fa-ff-heading);
			border-top: 1px solid rgba(40, 38, 36, 0.3);
			padding-top: 20px;
			line-height: 1.9;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.active {
		.faq-title {
			.number {
				background-color: var(--fa-color-theme-primary);
			}
		}
	}
	&.style-2 {
		border: none;
		border-radius: 0px;
		box-shadow: none;
		margin-bottom: 0;
		&:first-child {
			.faq-title {
				border-top: none;
			}
		}
		&:last-child {
			.faq-title {
				border-bottom: 1px solid rgba(77, 53, 172, 0.4);
			}
		}
		.faq-title {
			border-top: 1px solid rgba(77, 53, 172, 0.4);
			&::before {
				right: 0;
			}
			.number {
				display: inline-block;
				width: auto;
				height: auto;
				font-size: 18px;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
				border-radius: 50px;
				color: var(--fa-color-heading-primary);
				border: 1px solid rgba(0, 0, 0, 0.2);
				background: transparent;
				padding: 6px 22px;
				top: 35px;
				line-height: 1;
			}
		}
		.faq-text {
			p {
				border-top: none;
			}
		}
		@media #{$lg} {
			.faq-title {
				.number {
					top: 30px;
				}
			}
		}
		@media #{$md, $sm} {
			.faq-title {
				.number {
					top: 28px;
				}
			}
		}
		@media #{$xs} {
			.faq-title {
				.number {
					padding: 6px 12px;
					top: 13px;
				}
			}
		}
	}
	@media #{$xl} {
		.faq-title {
			font-size: 25px;
			padding: 25px 75px 25px 95px;
			.number {
				top: 10px;
			}
		}
		.faq-text {
			padding: 0px 95px 25px 95px;
		}
	}
	@media #{$lg} {
		.faq-title {
			font-size: 22px;
			padding: 25px 65px 25px 75px;
			.number {
				width: 60px;
				height: 60px;
				top: 12px;
			}
		}
		.faq-text {
			padding: 0px 85px 25px 75px;
		}
	}
	@media #{$md} {
		.faq-title {
			font-size: 22px;
			padding: 25px 65px 25px 75px;
			.number {
				width: 60px;
				height: 60px;
				top: 12px;
			}
		}
		.faq-text {
			padding: 0px 100px 25px 75px;
		}
	}
	@media #{$sm} {
		.faq-title {
			font-size: 20px;
			padding: 25px 65px 25px 65px;
			.number {
				width: 50px;
				height: 50px;
				font-size: 20px;
				top: 14px;
			}
		}
		.faq-text {
			padding: 0px 100px 25px 65px;
		}
	}
	@media #{$sm} {
		.faq-title {
			font-size: 20px;
			padding: 25px 65px 25px 65px;
			.number {
				width: 50px;
				height: 50px;
				font-size: 20px;
				top: 14px;
			}
		}
		.faq-text {
			padding: 0px 100px 25px 65px;
		}
	}
	@media #{$xs} {
		.faq-title {
			font-size: 20px;
			padding: 25px 65px 25px 65px;
			line-height: 1.4;
			&::before {
				right: 15px;
			}
			.number {
				width: 50px;
				height: 50px;
				font-size: 20px;
				top: 14px;
			}
		}
		.faq-text {
			padding: 0px 15px 25px 65px;
			p {
				font-size: 16px;
			}
		}
	}
}

/* !END: Theme FAQ CSS */
