@use "../utilities" as *;

/**----------------------------------------
START: Theme FAQ CSS
----------------------------------------*/
.fa-faq-section {
	padding-top: 150px;
	padding-bottom: 120px;
	.heading-area {
		display: flex;
		align-items: end;
		.sub-title {
			writing-mode: vertical-lr;
			text-orientation: mixed;
			transform: rotate(-180deg);
			margin-bottom: 0;
		}
		.sec-title {
			writing-mode: vertical-lr;
			text-orientation: mixed;
			transform: rotate(-180deg);
			margin-top: 0;
		}
	}
}

.faq-main-wrapper {
	display: flex;
	align-items: center;
	column-gap: 105px;
	.fa-faq-wrap {
		width: 100%;
	}
}

.accordion-item {
	position: relative;
	border: none;
	box-shadow: none;
	z-index: 2;
	border-radius: 0;
	background: transparent;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--fa-color-border-1);
	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
	.faq-title {
		display: flex;
		align-items: center;
		font-size: 30px;
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-sbold);
		padding: 0px 55px 15px 0px;
		position: relative;
		color: var(--fa-color-heading-primary);
		width: 100%;
		text-align: left;
		&.collapsed {
			color: var(--fa-color-heading-primary);
		}
		&:before {
			position: absolute;
			content: "\2b";
			top: 6px;
			right: 0px;
			font-family: "Font Awesome 6 Sharp";
			font-size: 14px;
			font-weight: var(--fa-fw-ebold);
			color: var(--fa-color-heading-primary);
			line-height: 1;
			@include transition(all 0.3s ease-in-out 0s);
		}
		&:not(.collapsed) {
			box-shadow: none;
			&:before {
				content: "\f068";
				color: var(--fa-color-heading-primary);
			}
		}
		&:focus {
			box-shadow: none;
		}
		&:after {
			display: none;
		}
		.number {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 72px;
			height: 72px;
			color: var(--fa-color-common-white);
			font-size: 24px;
			font-family: var(--fa-ff-heading);
			background: var(--fa-color-theme-secondary);
			border-radius: 50%;
		}
	}
	.faq-text {
		padding: 15px 10px 25px 0px;
		p {
			font-size: 18px;
			color: var(--fa-color-text-body);
			font-weight: var(--fa-fw-medium);
			font-family: var(--fa-ff-heading);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.active {
		.faq-title {
			.number {
				background-color: var(--fa-color-theme-primary);
			}
		}
	}
}
/* !END: Theme FAQ CSS */
