@use "../utilities" as *;

/**----------------------------------------
START: Theme Hero CSS
----------------------------------------*/
.fa-hero-section {
	position: relative;
	padding-top: 237px;
	padding-bottom: 385px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 65px;
		width: 380px;
		height: 380px;
		border-radius: 50%;
		background: var(--fa-color-theme-secondary);
		background: radial-gradient(
			75% 75% at 75% 75%,
			var(--fa-color-theme-secondary) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		filter: blur(50px);
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 165px;
		right: 65px;
		width: 475px;
		height: 475px;
		border-radius: 50%;
		background: var(--fa-color-theme-primary);
		background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 98, 28, 0.7) 0%,
			rgba(24, 16, 52, 0) 100%
		);
		-webkit-filter: blur(65px);
		filter: blur(65px);
	}
	.hero-shapes {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 820px;
		width: 100%;
	}
	&.v-2 {
		padding-top: 220px;
		padding-bottom: 0;
		overflow: hidden;
		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 750px;
			bottom: 0;
			left: 0;
			top: auto;
			right: auto;
			background: var(--fa-color-theme-secondary);
			filter: blur(0px);
			border-radius: 0;
		}
		&::after {
			display: none;
		}
		.h2-hero-shapes {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
		@media #{$md} {
			&::before {
				height: 575px;
			}
		}
		@media #{$sm} {
			&::before {
				height: 550px;
			}
		}
		@media #{$xs} {
			&::before {
				height: 450px;
			}
		}
	}
	&.v-3 {
		padding-top: 125px;
		padding-bottom: 100px;
		background: linear-gradient(
			180deg,
			var(--fa-color-grey-13) 0%,
			var(--fa-color-grey-14) 100%
		);
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
		.container {
			max-width: 1800px;
		}
	}
	@media #{$lg} {
		padding-top: 185px;
		padding-bottom: 350px;
	}
	@media #{$md} {
		padding-top: 150px;
		padding-bottom: 310px;
		&.v-2 {
			padding-top: 165px;
		}
	}
	@media #{$sm} {
		padding-top: 140px;
		padding-bottom: 275px;
		&.v-2 {
			padding-top: 165px;
		}
	}
	@media #{$xs} {
		padding-top: 135px;
		padding-bottom: 215px;
		&.v-2 {
			padding-top: 150px;
		}
	}
}

.hero-main-wrapper {
	position: relative;
	max-width: 950px;
	width: 100%;
	margin-left: auto;
	padding-right: 50px;
	z-index: 2;
	.hero-subtitle {
		display: block;
		font-size: 50px;
		color: var(--fa-color-theme-primary);
		font-weight: var(--fa-fw-black);
		font-family: var(--fa-ff-heading);
		margin-bottom: 20px;
		line-height: 1;
	}
	.hero-title {
		color: var(--fa-color-common-white);
		margin-bottom: 0;
		line-height: 1;
		.active-color {
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: var(--fa-color-common-white);
			-webkit-text-fill-color: var(--fa-color-theme-secondary);
		}
	}
	@media #{$sm} {
		.hero-subtitle {
			font-size: 40px;
		}
	}
	@media #{$xs} {
		.hero-subtitle {
			font-size: 30px;
		}
	}
}

.hero-2-wrapper {
	.title-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: end;
		justify-content: space-between;
		column-gap: 25px;
		row-gap: 20px;
		.hero-title {
			font-size: 100px;
			margin-bottom: 0;
			line-height: 1;
			&:last-child {
				position: relative;
				top: 115px;
			}
			.primary-color {
				display: block;
				-webkit-text-stroke-width: 2px;
				-webkit-text-stroke-color: var(--fa-color-theme-primary);
				-webkit-text-fill-color: var(--fa-color-common-white);
				letter-spacing: 0.05em;
			}
			.secondary-color {
				display: block;
				-webkit-text-stroke-width: 2px;
				-webkit-text-stroke-color: var(--fa-color-theme-secondary);
				-webkit-text-fill-color: var(--fa-color-common-white);
				letter-spacing: 0.05em;
			}
		}
		.hero-line {
			display: inline-block;
			position: relative;
			width: 380px;
			left: -60px;
			top: -15px;
			height: 3px;
			background: var(--fa-color-theme-secondary);
			&::before {
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
				width: 8px;
				height: 8px;
				background: var(--fa-color-theme-secondary);
			}
		}
	}
	.hero-content {
		display: flex;
		align-items: center;
		column-gap: 60px;
		row-gap: 20px;
		margin-top: 90px;
		.hero-desc {
			max-width: 395px;
			width: 100%;
			.desc {
				font-size: 24px;
				font-weight: var(--fa-fw-sbold);
				font-family: var(--fa-ff-heading);
				margin-bottom: 0;
				line-height: 1.6;
			}
		}
	}
	@media #{$xxl} {
		.title-wrap {
			.hero-line {
				width: 180px;
			}
		}
	}
	@media #{$xl} {
		.title-wrap {
			.hero-title {
				font-size: 80px;
			}
			.hero-line {
				width: 200px;
			}
		}
	}
	@media #{$lg} {
		.title-wrap {
			.hero-title {
				font-size: 65px;
				&:last-child {
					top: 65px;
				}
			}
			.hero-line {
				width: 170px;
				left: -45px;
			}
		}
	}
	@media #{$md} {
		.title-wrap {
			.hero-title {
				font-size: 55px;
				&:last-child {
					top: 45px;
				}
			}
			.hero-line {
				width: 60px;
				left: -45px;
			}
		}
	}
	@media #{$sm} {
		.title-wrap {
			.hero-title {
				font-size: 45px;
				.primary-color {
					-webkit-text-stroke-width: 1px;
				}
				.secondary-color {
					-webkit-text-stroke-width: 1px;
				}
				&:last-child {
					top: 45px;
				}
			}
			.hero-line {
				display: none;
			}
		}
		.hero-content {
			column-gap: 30px;
			margin-top: 80px;
			.hero-desc {
				.desc {
					font-size: 20px;
				}
			}
		}
	}
	@media #{$xs} {
		.title-wrap {
			.hero-title {
				font-size: 45px;
				.primary-color {
					-webkit-text-stroke-width: 1px;
				}
				.secondary-color {
					-webkit-text-stroke-width: 1px;
				}
				&:last-child {
					top: 45px;
				}
			}
			.hero-line {
				display: none;
			}
		}
		.hero-content {
			column-gap: 30px;
			margin-top: 80px;
			.hero-thumb-wrap {
				width: 100%;
			}
			.hero-desc {
				.desc {
					font-size: 18px;
				}
			}
		}
	}
	@media #{$xs} {
		.title-wrap {
			.hero-title {
				font-size: 40px;
				.primary-color {
					-webkit-text-stroke-width: 1px;
				}
				.secondary-color {
					-webkit-text-stroke-width: 1px;
				}
				&:last-child {
					top: 0px;
				}
			}
			.hero-line {
				display: none;
			}
		}
		.hero-content {
			flex-direction: column;
			margin-top: 30px;
		}
	}
}

.hero-3-wrapper {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 145px 125px 100px;
	box-shadow: 0px 0px 50px var(--fa-color-theme-primary);
	border-radius: 50px;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 695px;
		height: 100%;
		border-radius: 50%;
		background: linear-gradient(
			90deg,
			rgba(13, 2, 55, 0.6) 26.44%,
			rgba(13, 2, 55, 0.12) 67.79%
		);
		filter: blur(65px);
	}
	.hero-top-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: space-between;
		position: relative;
		z-index: 1;
		.hero-text {
			padding-left: 150px;
			.sub-title {
				display: inline-block;
				font-size: 16px;
				font-weight: var(--fa-fw-sbold);
				color: var(--fa-color-common-white);
				background: var(--fa-color-theme-primary);
				text-transform: uppercase;
				border-radius: 80px;
				padding: 22px 42px;
				line-height: 1;
			}
			.desc {
				font-size: 24px;
				color: var(--fa-color-common-white);
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
				max-width: 395px;
				width: 100%;
				margin-top: 70px;
				margin-bottom: 0;
				line-height: 1.7;
			}
		}
	}
	.hero-bottom-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 95px;
		position: relative;
		z-index: 1;
		.hero-title {
			color: var(--fa-color-common-white);
			letter-spacing: -0.02em;
			margin-bottom: 0;
			.active-color {
				display: block;
				font-size: 100px;
				-webkit-text-stroke-width: 3px;
				-webkit-text-stroke-color: var(--fa-color-theme-primary);
				-webkit-text-fill-color: var(--fa-color-theme-bg);
				letter-spacing: 0em;
				line-height: 1;
			}
			.title {
				display: block;
				margin-top: -30px;
			}
		}
	}
	.hero-btn {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 210px;
		height: 210px;
		position: relative;
		font-size: 24px;
		color: var(--fa-color-common-white);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-bold);
		margin-top: -25px;
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 210px;
			height: 210px;
			mask-image: url(../images/shapes/blog-shapes.svg);
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: contain;
			background: var(--fa-color-common-white);
		}
	}
}

.hero-thumb-wrap {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: var(--fa-color-theme-bg);
	padding: 15px 18px 30px;
	border-radius: 50px;
	.thumb-box {
		display: flex;
		align-items: center;
		column-gap: 10px;
		.thumb-images {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 65px;
			height: 110px;
			border-radius: 50px;
			overflow: hidden;
			&:last-child {
				background: var(--fa-color-theme-secondary);
			}
			img {
				height: 100%;
				object-fit: cover;
				border-radius: 50px;
			}
			.rating-icons {
				display: block;
				max-width: 30px;
			}
			.rating-number {
				display: block;
				font-size: 20px;
				color: var(--fa-color-common-white);
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-bold);
				margin-top: 10px;
			}
		}
	}
	.rating-review {
		display: block;
		font-size: 20px;
		color: var(--fa-color-common-white);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-bold);
		margin-top: 25px;
		text-align: center;
		line-height: 1.5;
	}
}

.video-thumb-wrap {
	.thumb-images {
		position: relative;
		max-width: 948px;
		width: 100%;
		z-index: 2;
		&:nth-child(1) {
			margin-left: auto;
			margin-top: -75px;
			img {
				transform: rotate(5.39deg);
			}
		}
		&:nth-child(2) {
			margin-left: auto;
			margin-right: auto;
			margin-top: -320px;
			img {
				transform: rotate(-4.64deg);
			}
		}
		&:nth-child(3) {
			margin-top: -265px;
			img {
				transform: rotate(13.59deg);
			}
		}
		img {
			border-radius: 50px;
		}
		.hero-video {
			position: absolute;
			top: -85px;
			left: 210px;
			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 210px;
				height: 210px;
				&::before {
					position: absolute;
					content: "";
					top: 50%;
					left: 50%;
					width: 150px;
					height: 150px;
					background: url(../images/shapes/video-circle.png);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					transform: translate(-50%, -50%);
					z-index: 1;
				}
				&::after {
					position: absolute;
					content: "";
					top: 50%;
					left: 50%;
					width: 210px;
					height: 210px;
					background: url(../images/shapes/video-shapes.png);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					transform: translate(-50%, -50%);
				}
				img {
					position: relative;
					border-radius: 0;
					z-index: 1;
				}
			}
		}
	}
	@media #{$xxl} {
		.thumb-images {
			max-width: 740px;
			&:nth-child(1) {
				margin-top: -25px;
			}
		}
	}
	@media #{$xl} {
		margin-top: 50px;
		.thumb-images {
			max-width: 685px;
			&:nth-child(1) {
				margin-top: -25px;
			}
		}
	}
	@media #{$lg} {
		margin-top: 50px;
		.thumb-images {
			max-width: 685px;
			&:nth-child(1) {
				margin-top: -25px;
			}
		}
	}
	@media #{$md} {
		margin-top: 120px;
		.thumb-images {
			max-width: 630px;
			.hero-video {
				top: -120px;
				a {
					&::before {
						width: 120px;
						height: 120px;
					}
					&::after {
						width: 165px;
						height: 165px;
					}
				}
			}
			&:nth-child(1) {
				margin-top: -25px;
			}
		}
	}
	@media #{$sm} {
		margin-top: 180px;
		.thumb-images {
			max-width: 510px;
			.hero-video {
				top: -120px;
				a {
					&::before {
						width: 120px;
						height: 120px;
					}
					&::after {
						width: 165px;
						height: 165px;
					}
				}
			}
			&:nth-child(1) {
				margin-top: -25px;
			}
		}
	}
	@media #{$xs} {
		margin-top: 300px;
		.thumb-images {
			max-width: 510px;
			img {
				border-radius: 15px;
			}
			.hero-video {
				top: -120px;
				a {
					&::before {
						width: 120px;
						height: 120px;
					}
					&::after {
						width: 165px;
						height: 165px;
					}
				}
			}
			&:nth-child(1) {
				margin-top: -25px;
				img {
					transform: rotate(2.39deg);
				}
			}
			&:nth-child(2) {
				img {
					transform: rotate(-2.64deg);
				}
			}
			&:nth-child(3) {
				img {
					transform: rotate(2.59deg);
				}
			}
		}
	}
}

.hero-marquee-wrap {
	position: relative;
	background: rgba(255, 255, 255, 0.1);
	padding: 33px 0;
	margin-top: 145px;
	z-index: 2;
	.marquee-main-wrapper {
		&.style-2 {
			animation: marquee-slide2 75s linear infinite;
		}
	}
	@media #{$md} {
		margin-top: 120px;
	}
}
/* !END: Theme Hero CSS */
