@use "../utilities" as *;

/**----------------------------------------
START: Theme Price CSS
----------------------------------------*/
.fa-pricing-section {
	position: relative;
	padding-top: 150px;
	padding-bottom: 150px;
	background: var(--fa-color-theme-bg);
	overflow: hidden;
	.heading-area {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 25px;
		row-gap: 30px;
		position: relative;
		z-index: 1;
		.sub-title {
			-webkit-text-fill-color: var(--fa-color-theme-bg);
		}
		.sec-title {
			line-height: initial;
			background: linear-gradient(
				-90deg,
				var(--fa-color-theme-bg) 0%,
				var(--fa-color-common-white) 100%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.price-switcher {
			display: flex;
			align-items: center;
			column-gap: 10px;
			span {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 150px;
				height: 100px;
				font-size: 18px;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
				color: var(--fa-color-heading-primary);
				background: var(--fa-color-common-white);
				border-radius: 15px;
				padding: 12px 25px;
				cursor: pointer;
				line-height: 1;
				&:hover {
					color: var(--fa-color-common-white);
					background: var(--fa-color-theme-secondary);
				}
			}
		}
	}
	.shapes-one {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	@media #{$xl, $lg} {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@media #{$md, $sm, $xs} {
		padding-top: 80px;
		padding-bottom: 80px;
		.heading-area {
			flex-direction: column;
			text-align: center;
			margin-bottom: 50px;
			.price-switcher {
				span {
					width: 120px;
					height: 70px;
				}
			}
		}
	}
}

.price-main-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 24px;
	row-gap: 24px;
	position: relative;
	z-index: 1;
	@media #{$lg, $md} {
		grid-template-columns: repeat(2, 1fr);
	}
	@media #{$sm, $xs} {
		grid-template-columns: repeat(1, 1fr);
	}
}

.price-item {
	position: relative;
	background: var(--fa-color-common-white);
	padding: 45px 50px 50px;
	border-radius: 50px;
	text-align: center;
	overflow: hidden;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 320px;
		top: -2px;
		left: 0;
		mask-image: url(../images/shapes/price-mask-shapes.svg);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: cover;
		background: var(--fa-color-grey-8);
		border-radius: 50px 50px 0px 0px;
	}
	&:nth-child(2) {
		&::before {
			background: var(--fa-color-theme-secondary);
		}
		.price-title {
			color: var(--fa-color-common-white);
			background: rgba(255, 255, 255, 0.1);
			box-shadow: none;
		}
		.price-percent {
			color: var(--fa-color-common-white);
			.price-number {
				color: var(--fa-color-common-white);
			}
		}
		.primary-btn {
			.fa-btn-text {
				background: var(--fa-color-theme-secondary);
			}
			.fa-icon {
				background: var(--fa-color-theme-secondary);
			}
		}
	}
	&:nth-child(3) {
		&::before {
			background: var(--fa-color-grey-9);
		}
		.price-title {
			color: var(--fa-color-theme-secondary);
		}
	}
	.price-title {
		display: inline-block;
		position: relative;
		color: var(--fa-color-theme-primary);
		font-weight: var(--fa-fw-bold);
		font-size: 24px;
		font-family: var(--fa-ff-heading);
		background: var(--fa-color-common-white);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		margin-bottom: 40px;
		padding: 16px 28px;
		line-height: 1;
		z-index: 1;
	}
	.price-percent {
		position: relative;
		font-size: 18px;
		font-weight: var(--fa-fw-bold);
		line-height: 1;
		z-index: 1;
		.price-number {
			font-size: 80px;
			color: var(--fa-color-heading-primary);
			font-weight: var(--fa-fw-black);
			font-family: var(--fa-ff-heading);
		}
	}
	.price-list {
		position: relative;
		text-align: start;
		margin-top: 130px;
		z-index: 1;
		ul {
			li {
				display: flex;
				align-items: center;
				column-gap: 20px;
				font-size: 18px;
				font-weight: var(--fa-fw-sbold);
				color: var(--fa-color-heading-primary);
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.price-button {
		position: relative;
		text-align: start;
		margin-top: 50px;
		z-index: 1;
	}
	.price-shapes {
		position: absolute;
		right: 0;
		bottom: 30px;
	}
	.circle-1 {
		content: "";
		position: absolute;
		right: -50px;
		bottom: 25%;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		background: var(--fa-color-theme-primary);
		background: radial-gradient(
			75% 75% at 75% 75%,
			var(--fa-color-theme-primary) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		filter: blur(85px);
	}
	.circle-2 {
		content: "";
		position: absolute;
		right: -20px;
		bottom: 0;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background: var(--fa-color-theme-primary);
		background: radial-gradient(
			75% 75% at 75% 75%,
			var(--fa-color-theme-secondary) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		filter: blur(75px);
	}
	@media #{$xl} {
		padding: 45px 35px 50px;
	}
	@media #{$lg} {
		padding: 35px 15px 40px;
		.price-list {
			ul {
				li {
					font-size: 16px;
					column-gap: 15px;
				}
			}
		}
	}
	@media #{$md, $sm} {
		padding: 35px 15px;
		.price-list {
			ul {
				li {
					font-size: 16px;
					column-gap: 15px;
				}
			}
		}
	}
	@media #{$xs} {
		padding: 35px 15px;
		border-radius: 15px;
		&::before {
			border-radius: 15px 15px 0 0;
		}
		.price-title {
			font-size: 20px;
			padding: 12px 20px;
			margin-bottom: 30px;
		}
		.price-percent {
			.number {
				font-size: 60px;
			}
		}
		.price-list {
			ul {
				li {
					font-size: 16px;
					column-gap: 15px;
				}
			}
		}
	}
}
/* !END: Theme Price CSS */
