@use "../utilities" as *;

/**----------------------------------------
START: Theme Price CSS
----------------------------------------*/
.fa-pricing-section {
	position: relative;
	padding-top: 150px;
	padding-bottom: 120px;
	background: var(--fa-color-theme-bg);
	.heading-area {
		.sub-title {
			-webkit-text-fill-color: var(--fa-color-theme-bg);
		}
		.sec-title {
			line-height: initial;
			background: linear-gradient(
				-90deg,
				var(--fa-color-theme-bg) 0%,
				var(--fa-color-common-white) 100%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.price-main-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 24px;
}

.price-item {
	background: var(--fa-color-common-white);
	padding: 45px 50px 50px;
	border-radius: 50px;
	.price-title {
		color: var(--fa-color-theme-primary);
		font-weight: var(--fa-fw-bold);
		background: var(--fa-color-common-white);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		margin-bottom: 0;
	}
}
/* !END: Theme Price CSS */
