@use "../utilities" as *;

/**----------------------------------------
START: Theme Process CSS
----------------------------------------*/
.fa-process-section {
	padding-top: 150px;
	padding-bottom: 150px;
	.heading-area {
		margin-bottom: 250px;
		.process-desc {
			font-size: 18px;
			font-weight: var(--fa-fw-medium);
			font-family: var(--fa-ff-heading);
			max-width: 650px;
			width: 100%;
			margin-top: 45px;
			margin-bottom: 0;
			line-height: 1.8;
		}
	}
	@media #{$xl, $lg} {
		padding-top: 120px;
		padding-bottom: 120px;
		.heading-area {
			.sec-title {
				margin-top: -35px;
			}
		}
	}
	@media #{$md, $sm} {
		padding-top: 80px;
		padding-bottom: 80px;
		.heading-area {
			margin-bottom: 60px;
			.sec-title {
				margin-top: -25px;
			}
		}
	}
	@media #{$xs} {
		padding-top: 80px;
		padding-bottom: 80px;
		.heading-area {
			text-align: center;
			margin-bottom: 60px;
			.sec-title {
				margin-top: -10px;
			}
			.process-desc {
				margin-top: 20px;
			}
		}
	}
}

.process-main-wrapper {
	position: relative;
	.process-item-wrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 110px;
		row-gap: 50px;
		max-width: 1500px;
		width: 100%;
		margin-left: auto;
	}
	.process-shapes {
		position: absolute;
		top: -555px;
		left: 0;
	}
	@media #{$xxl} {
		.process-shapes {
			top: -510px;
		}
	}
	@media #{$md} {
		.process-item-wrap {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media #{$sm} {
		.process-item-wrap {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 30px;
		}
	}
	@media #{$xs} {
		.process-item-wrap {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 35px;
		}
	}
}

.process-item {
	position: relative;
	max-width: 320px;
	width: 100%;
	text-align: center;
	&::before {
		position: absolute;
		content: "";
		width: 25px;
		height: 25px;
		top: -55px;
		left: 50%;
		transform: translateX(-50%);
		background: var(--fa-color-theme-primary);
		border-radius: 50%;
	}
	&:nth-child(2) {
		margin-top: -185px;
	}
	&:nth-child(3) {
		margin-top: -365px;
		&::before {
			top: -135px;
		}
	}
	.process-title {
		font-weight: var(--fa-fw-bold);
		margin-bottom: 0;
		line-height: 1.3;
	}
	.process-desc {
		margin-top: 26px;
		margin-bottom: 0;
		line-height: 1.7;
	}
	.process-images {
		margin-top: 30px;
		img {
			border-radius: 50%;
		}
	}
	.number {
		font-size: 300px;
		color: rgba(24, 16, 52, 0.04);
		font-family: var(--fa-ff-heading);
		font-weight: var(--fa-fw-black);
		position: absolute;
		top: -85px;
		right: -120px;
		line-height: 1;
	}
	@media #{$xxl} {
		&::before {
			top: -110px;
		}
		&:nth-child(2) {
			&::before {
				top: -63px;
			}
		}
		&:nth-child(3) {
			&::before {
				top: -104px;
			}
		}
		.number {
			font-size: 210px;
			top: -65px;
			right: -50px;
		}
	}
	@media #{$xl} {
		.number {
			font-size: 175px;
			top: -40px;
			right: 0px;
		}
	}
	@media #{$lg} {
		&:nth-child(2) {
			margin-top: -120px;
		}
		&:nth-child(3) {
			margin-top: -240px;
		}
		.number {
			font-size: 175px;
			top: -40px;
			right: 0px;
		}
	}
	@media #{$md, $sm} {
		&::before {
			display: none;
		}
		&:nth-child(2) {
			margin-top: 0px;
		}
		&:nth-child(3) {
			margin-top: 0px;
		}
		.number {
			font-size: 175px;
			top: -40px;
			right: 0px;
		}
	}
	@media #{$xs} {
		max-width: 100%;
		&::before {
			display: none;
		}
		&:nth-child(2) {
			margin-top: 0px;
		}
		&:nth-child(3) {
			margin-top: 0px;
		}
		.number {
			font-size: 175px;
			top: -40px;
			right: 0px;
		}
	}
}

/* !END: Theme Process CSS */
