@use "../utilities" as *;

/**----------------------------------------
START: Theme Project CSS
----------------------------------------*/
.fa-project-section {
	padding-top: 150px;
	background: linear-gradient(
		360deg,
		var(--fa-color-grey-6) 0%,
		var(--fa-color-grey-7) 78.85%
	);
	.heading-area {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 80px;
		.sec-title {
			margin-top: -25px;
		}
		.view-blog-btn {
			&::before {
				width: 245px;
				height: 245px;
				background: var(--fa-color-theme-secondary);
			}
		}
	}
	.swiper-wrapper {
		.swiper-slide {
			border-radius: 50px 50px 0 0;
			&.swiper-slide-active {
				.project-item {
					opacity: 1;
					.project-content {
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
					}
				}
			}
		}
	}
	&.v-2 {
		position: relative;
		background: var(--fa-color-common-white);
		padding-bottom: 175px;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: -14%;
			left: -12%;
			width: 785px;
			height: 785px;
			border-radius: 50%;
			background: var(--fa-color-theme-primary);
			background: radial-gradient(
				50% 50% at 50% 50%,
				rgba(255, 98, 28, 0.25) 0%,
				rgba(255, 255, 255, 0) 100%
			);
			transform: matrix(-1, 0, 0, 1, 0, 0);
			filter: blur(150px);
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -15%;
			right: -25%;
			width: 1685px;
			height: 1685px;
			border-radius: 50%;
			background: var(--fa-color-theme-secondary);
			background: radial-gradient(
				50% 50% at 50% 50%,
				rgba(77, 53, 172, 0.2) 0%,
				rgba(255, 255, 255, 0.2) 100%
			);
			transform: matrix(-1, 0, 0, 1, 0, 0);
			filter: blur(150px);
		}
		.heading-area {
			max-width: 1770px;
			width: 100%;
			margin-left: auto;
			margin-bottom: 100px;
		}
	}
	&.v-3 {
		padding-bottom: 150px;
	}
}

.project-main-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	.project-active-thumb {
		position: absolute;
		right: 60px;
		top: 50%;
		max-width: 600px;
		transform: translateY(-50%) rotate(10.77deg);
		overflow: hidden;
		border-radius: 50px;
		z-index: 2;
		img {
			border-radius: 50px;
		}
	}
}

.project-item {
	position: relative;
	opacity: 0.5;
	&::before {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			180deg,
			rgba(24, 16, 52, 0) 26.44%,
			rgba(24, 16, 52, 0.9) 100%
		);
	}
	img {
		border-radius: 50px 50px 0 0;
		height: 700px;
		object-fit: cover;
		width: 100%;
	}
	.project-content {
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		padding: 45px 40px;
		transform: translateY(30px);
		transition: all 0.6s ease;
		.sub-title {
			display: inline-block;
			color: var(--fa-color-common-white);
			background: var(--fa-color-theme-primary);
			border-radius: 100px;
			padding: 12px 23px;
			margin-bottom: 30px;
			line-height: 1;
		}
		.project-title {
			color: var(--fa-color-common-white);
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
	}
}

.project-two-item {
	.project-title {
		color: var(--fa-color-grey-12);
		font-weight: var(--fa-fw-bold);
		margin-bottom: 0;
		transform: rotate(-12.84deg);
		margin-bottom: 75px;
		max-width: 1085px;
		width: 100%;
		&:nth-child(2) {
			transform: rotate(-7.35deg);
			margin-bottom: 110px;
		}
		&:nth-child(3) {
			margin-bottom: 85px;
			transform: rotate(0deg);
		}
		&:nth-child(4) {
			margin-bottom: 95px;
			transform: rotate(5.97deg);
		}
		&:nth-child(5) {
			margin-bottom: 0px;
			transform: rotate(13.47deg);
		}
		a {
			display: flex;
			align-items: center;
			column-gap: 50px;
			.project-icons {
				opacity: 0;
				visibility: hidden;
			}
			&:hover {
				color: var(--fa-color-heading-primary);
				.project-icons {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
/* !END: Theme Project CSS */
