@use "../utilities" as *;

/**----------------------------------------
START: Theme Service CSS
----------------------------------------*/
.fa-service-section {
	padding-top: 150px;
	padding-bottom: 120px;
	background: var(--fa-color-theme-bg);
	.heading-area {
		.sub-title {
			-webkit-text-fill-color: var(--fa-color-theme-bg);
		}
		.sec-title {
			background: -webkit-gradient(
				linear,
				left top,
				right top,
				from(var(--fa-color-theme-bg)),
				to(var(--fa-color-common-white))
			);
			background: linear-gradient(
				90deg,
				var(--fa-color-common-white) 0%,
				var(--fa-color-theme-bg) 100%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}
	}
}

.service-item-wrap {
	display: flex;
	align-items: center;
	column-gap: 74px;
	.effect-title {
		max-width: 425px;
		width: 100%;
		.service-title {
			display: flex;
			align-items: center;
			column-gap: 10px;
			color: var(--fa-color-grey-3);
			font-weight: var(--fa-fw-bold);
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			padding-bottom: 30px;
			margin-bottom: 30px;
			line-height: 1.4;
		}
	}
}

.service-item {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	.service-images {
		position: relative;
		overflow: hidden;
		max-width: 570px;
		width: 100%;
		border-radius: 50px;
		img {
			border-radius: 50px;
		}
	}
	.service-content {
		position: absolute;
		right: 0;
		bottom: 55px;
		background: var(--fa-color-common-white);
		padding: 38px;
		border-radius: 50px;
		.service-title {
			display: flex;
			align-items: center;
			column-gap: 30px;
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
		.service-desc {
			font-weight: var(--fa-fw-medium);
			font-family: var(--fa-ff-heading);
			margin-top: 30px;
			margin-bottom: 0;
			max-width: 450px;
			width: 100%;
			line-height: 1.8;
		}
	}
}
/* !END: Theme Service CSS */
