@use "../utilities" as *;

/**----------------------------------------
START: Theme Service CSS
----------------------------------------*/
.fa-service-section {
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: var(--fa-color-theme-bg);
	position: relative;
	overflow: hidden;
	&::before {
		position: absolute;
		content: "";
		width: 775px;
		height: 775px;
		top: -30%;
		right: -20%;
		background: radial-gradient(
			50% 50%,
			rgba(255, 98, 28, 0.9) 0%,
			rgba(255, 98, 28, 0) 100%
		);
		filter: blur(150px);
	}
	&::after {
		position: absolute;
		content: "";
		width: 785px;
		height: 785px;
		top: -25%;
		right: -10%;
		background: radial-gradient(
			50% 50% at 50% 50%,
			var(--fa-color-theme-secondary) 0%,
			rgba(77, 53, 172, 0) 100%
		);
		filter: blur(175px);
	}
	.heading-area {
		.sub-title {
			-webkit-text-fill-color: var(--fa-color-theme-bg);
		}
		.sec-title {
			background: -webkit-gradient(
				linear,
				left top,
				right top,
				from(var(--fa-color-theme-bg)),
				to(var(--fa-color-common-white))
			);
			background: linear-gradient(
				90deg,
				var(--fa-color-common-white) 0%,
				var(--fa-color-theme-bg) 100%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			margin-top: -60px;
		}
		@media #{$lg, $md} {
			.sec-title {
				margin-top: -25px;
			}
		}
		@media #{$sm} {
			.sec-title {
				margin-top: -20px;
			}
		}
		@media #{$xs} {
			.sec-title {
				margin-top: -10px;
			}
		}
	}
	.service-main-wrapper {
		display: flex;
		align-items: center;
		column-gap: 74px;
		row-gap: 60px;
		position: relative;
		z-index: 2;
		.tab-content {
			width: 100%;
		}
		.nav {
			flex-direction: column;
			max-width: 420px;
			width: 100%;
			.nav-link {
				background-color: transparent;
				position: relative;
				padding: 0;
				text-align: start;
			}
		}
		@media #{$lg} {
			.nav {
				max-width: 345px;
			}
		}
		@media #{$md} {
			.nav {
				max-width: 615px;
			}
		}
		@media #{$sm} {
			.nav {
				max-width: 565px;
			}
		}
		@media #{$xs} {
			row-gap: 50px;
			.nav {
				max-width: 100%;
			}
		}
	}
	&.v-2 {
		position: relative;
		background-color: var(--fa-color-common-white);
		padding-bottom: 150px;
		overflow: hidden;
		@media #{$xl, $lg} {
			padding-bottom: 120px;
		}
		@media #{$md, $sm, $xs} {
			padding-bottom: 80px;
		}
		&::before {
			position: absolute;
			content: "";
			width: 850px;
			height: 850px;
			top: -30%;
			right: -20%;
			background: radial-gradient(
				50% 50% at 50% 50%,
				rgba(255, 98, 28, 0.05) 0%,
				rgba(255, 255, 255, 0) 100%
			);
		}
		&::after {
			position: absolute;
			content: "";
			width: 850px;
			height: 850px;
			top: 15%;
			right: -10%;
			background: radial-gradient(
				50% 50% at 50% 50%,
				rgba(77, 53, 172, 0.08) 0%,
				rgba(255, 255, 255, 0.08) 100%
			);
		}
		.heading-area {
			.sub-title {
				-webkit-text-fill-color: var(--fa-color-common-white);
			}
			.sec-title {
				background: -webkit-gradient(
					linear,
					left top,
					right top,
					from(var(--fa-color-theme-bg)),
					to(var(--fa-color-common-white))
				);
				background: linear-gradient(
					-90deg,
					var(--fa-color-common-white) 0%,
					var(--fa-color-theme-bg) 100%
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
		.service-main-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 24px;
			@media #{$md} {
				grid-template-columns: repeat(2, 1fr);
				row-gap: 24px;
			}
			@media #{$sm, $xs} {
				grid-template-columns: repeat(1, 1fr);
				row-gap: 24px;
			}
		}
	}
	@media #{$xl, $lg} {
		padding-top: 120px;
		padding-bottom: 120px;
		.service-main-wrapper {
			column-gap: 30px;
		}
	}
	@media #{$md, $sm, $xs} {
		padding-top: 80px;
		padding-bottom: 80px;
		.service-main-wrapper {
			flex-direction: column;
		}
	}
}

.service-nav-item {
	max-width: 425px;
	width: 100%;
	.service-title {
		display: flex;
		align-items: center;
		column-gap: 10px;
		color: var(--fa-color-grey-3);
		font-weight: var(--fa-fw-bold);
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		padding-bottom: 30px;
		margin-bottom: 30px;
		line-height: 1.4;
	}
	&:last-child {
		.service-title {
			padding-bottom: 0px;
			margin-bottom: 0px;
			border-bottom: none;
		}
	}
	@media #{$md} {
		max-width: 595px;
	}
	@media #{$sm} {
		max-width: 550px;
	}
	@media #{$xs} {
		.service-title {
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
	}
}

.service-item {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	.service-images {
		position: relative;
		overflow: hidden;
		max-width: 570px;
		width: 100%;
		border-radius: 50px;
		img {
			width: 100%;
			border-radius: 50px;
		}
	}
	.service-content {
		position: absolute;
		right: 0;
		bottom: 55px;
		background: var(--fa-color-common-white);
		padding: 50px 30px;
		border-radius: 50px;
		max-width: 685px;
		width: 100%;
		.service-title {
			display: flex;
			align-items: center;
			column-gap: 30px;
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
		.service-desc {
			font-weight: var(--fa-fw-medium);
			font-family: var(--fa-ff-heading);
			margin-top: 30px;
			margin-bottom: 0;
			max-width: 530px;
			width: 100%;
			line-height: 1.8;
		}
		.item-list-one {
			max-width: 670px;
			width: 100%;
			margin-top: 30px;
		}
	}
	@media #{$lg} {
		.service-content {
			max-width: 560px;
		}
	}
	@media #{$sm} {
		.service-content {
			bottom: 40px;
		}
	}
	@media #{$xs} {
		.service-images {
			display: none;
		}
		.service-content {
			position: initial;
			padding: 35px 15px;
			border-radius: 15px;
		}
	}
}

.service-style-2 {
	position: relative;
	border: 1px solid var(--fa-color-border-3);
	border-radius: 50px;
	padding: 40px 40px 0px 40px;
	overflow: hidden;
	background: var(--fa-color-common-white);
	text-align: center;
	z-index: 2;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: -30%;
		left: 0;
		mask-image: url(../images/shapes/service-item-shapes.svg);
		mask-position: center;
		mask-repeat: no-repeat;
		background: rgba(0, 0, 0, 0.2);
	}
	.service-title {
		position: relative;
		margin-bottom: 0;
		z-index: 1;
	}
	.service-icons {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		background: var(--fa-color-grey-9);
		border-radius: 20px;
		margin-top: 36px;
		position: relative;
		z-index: 1;
	}
	.service-desc {
		position: relative;
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 0;
		line-height: 1.8;
		z-index: 1;
	}
	&:nth-child(2) {
		.service-icons {
			background: var(--fa-color-grey-8);
		}
	}
	.service-list-one {
		margin-top: 46px;
		ul {
			justify-content: center;
			li {
				position: relative;
				top: -10px;
				margin-left: -15px;
				&:nth-child(1) {
					margin-left: 0px;
				}
				&:nth-child(2) {
					top: 22px;
				}
				&:nth-child(3) {
					top: -22px;
				}
			}
		}
	}
	@media #{$lg, $md, $sm} {
		padding: 30px 15px 0px 15px;
		&::before {
			top: -35%;
		}
	}
	@media #{$xs} {
		padding: 30px 15px 0px 15px;
		border-radius: 15px;
		&::before {
			top: -35%;
		}
	}
}

.service-list-one {
	ul {
		display: flex;
		align-items: center;
		li {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			column-gap: 12px;
			flex-shrink: 0;
			width: 150px;
			height: 150px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			color: var(--fa-color-heading-primary);
			font-family: var(--fa-ff-heading);
			font-weight: var(--fa-fw-sbold);
			border-radius: 50%;
			font-size: 16px;
			text-align: start;
			padding: 20px 12px;
			line-height: 1.7;
			span {
				max-width: 18px;
				width: 100%;
			}
		}
	}
	@media #{$xl} {
		ul {
			li {
				column-gap: 5px;
				width: 130px;
				height: 130px;
				padding: 10px 8px;
				font-size: 15px;
			}
		}
	}
	@media #{$lg, $md, $sm, $xs} {
		ul {
			li {
				column-gap: 5px;
				width: 115px;
				height: 115px;
				padding: 10px 6px;
				font-size: 13px;
			}
		}
	}
}

/* !END: Theme Service CSS */
