@use "../utilities" as *;

/**----------------------------------------
START: Theme Details CSS
----------------------------------------*/
.fa-team-details-section {
	padding-top: 150px;
	padding-bottom: 150px;
}

.team-detail-top-wrap {
	display: flex;
	column-gap: 55px;
	justify-content: space-between;
	.left-content {
		max-width: 575px;
		width: 100%;
		.title {
			font-weight: var(--fa-fw-bold);
			margin-bottom: 0;
		}
		.desc {
			font-weight: var(--fa-fw-medium);
			margin-top: 25px;
			margin-bottom: 0;
		}
		.check-style-5 {
			margin-top: 30px;
		}
	}
	.right-content {
		display: flex;
		background: linear-gradient(
			360deg,
			var(--fa-color-grey-6) 0%,
			var(--fa-color-grey-7) 78.85%
		);
		padding: 25px 25px 25px 50px;
		border-radius: 20px;
		.team-style-2 {
			max-width: 500px;
		}
	}
}

.check-style-5 {
	ul {
		li {
			display: flex;
			column-gap: 12px;
			font-weight: var(--fa-fw-medium);
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			span {
				max-width: 18px;
				width: 100%;
			}
		}
	}
}
/* !END: Theme Details CSS */
