@use "../utilities" as *;

/**----------------------------------------
START: Theme Testimonial CSS
----------------------------------------*/
.fa-testimonial-section {
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: var(--fa-color-theme-bg);
	overflow: hidden;
	@media #{$md, $sm, $xs} {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.heading-area {
		margin-bottom: 40px;
		text-align: center;
		.sub-title {
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: var(--fa-color-theme-primary);
			-webkit-text-fill-color: var(--fa-color-theme-bg);
			margin-bottom: 35px;
		}
		.sec-title {
			color: rgba(255, 255, 255, 0.12);
			background: transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-color: initial;
			background-clip: initial;
		}
		@media #{$xs} {
			margin-bottom: 0px;
		}
	}
	.testimonial-slider {
		padding: 60px 10px;
		z-index: 3;
		.swiper-pagination {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 15px;
			position: relative;
			bottom: -50px;
		}
		@media #{$xl, $lg, $md, $sm, $xs} {
			padding: 60px 20px;
		}
	}
	&.v-2 {
		padding-top: 150px;
		padding-bottom: 150px;
		background: linear-gradient(
			360deg,
			var(--fa-color-grey-6) 0%,
			var(--fa-color-grey-7) 100%
		);
		.heading-area {
			text-align: start;
			margin-bottom: 60px;
			.sub-title {
				-webkit-text-fill-color: var(--fa-color-grey-7);
			}
			.sec-title {
				background: linear-gradient(
					90deg,
					var(--fa-color-theme-bg) 0%,
					var(--fa-color-grey-10) 100%
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
	}
	.circle-1 {
		&::before {
			position: absolute;
			content: "";
			width: 375px;
			height: 375px;
			top: -20%;
			right: 20%;
			background: radial-gradient(
				50% 50% at 50% 50%,
				rgba(255, 98, 28, 0.5) 0%,
				rgba(255, 98, 28, 0) 100%
			);
			filter: blur(95px);
			z-index: 1;
		}
		&::after {
			position: absolute;
			content: "";
			width: 665px;
			height: 620px;
			top: -20%;
			right: 14%;
			background: radial-gradient(
				50% 50% at 50% 50%,
				var(--fa-color-theme-secondary) 0%,
				rgba(77, 53, 172, 0) 100%
			);
			filter: blur(165px);
		}
	}
	.circle-2 {
		&::before {
			position: absolute;
			content: "";
			width: 450px;
			height: 450px;
			bottom: -15%;
			left: -10%;
			background: radial-gradient(
				50% 50% at 50% 50%,
				rgba(255, 98, 28, 0.5) 0%,
				rgba(255, 98, 28, 0) 100%
			);
			-webkit-filter: blur(95px);
			filter: blur(30px);
			z-index: 1;
		}
		&::after {
			position: absolute;
			content: "";
			width: 815px;
			height: 685px;
			bottom: -20%;
			left: -10%;
			background: radial-gradient(
				50% 50% at 50% 50%,
				var(--fa-color-theme-secondary) 0%,
				rgba(77, 53, 172, 0) 100%
			);
			-webkit-filter: blur(165px);
			filter: blur(165px);
		}
	}
}

.testimonial-item {
	position: relative;
	.testimonial-images {
		position: absolute;
		right: -10px;
		top: -55px;
		max-width: 150px;
		width: 100%;
		border-radius: 50px;
		overflow: hidden;
	}
	.testimonial-content {
		width: 495px;
		height: 370px;
		background: var(--fa-color-common-white);
		border-radius: 50px;
		mask-image: url(../images/shapes/h1-testimonial-item.svg);
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
		padding: 15px 28px 25px 0;
		.testimonial-author {
			text-align: center;
			margin-bottom: 60px;
			.description {
				display: block;
				font-size: 18px;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
				line-height: 1.9;
			}
			.author-name {
				display: block;
				font-weight: var(--fa-fw-sbold);
				line-height: 1.8;
			}
		}
		.testimonial-desc {
			color: var(--fa-color-heading-primary);
			font-size: 24px;
			font-family: var(--fa-ff-heading);
			font-weight: var(--fa-fw-medium);
			padding-left: 110px;
			margin-bottom: 0;
		}
		.testimonial-rating {
			position: absolute;
			transform: rotate(-90deg);
			left: 10px;
			top: 95px;
			.star-ratings {
				margin-left: 0;
				margin-right: 0;
			}
			.rating-number {
				display: block;
				font-size: 18px;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
				margin-top: 8px;
			}
		}
	}
	.testimonial-icons {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 85px;
		height: 85px;
		background: var(--fa-color-grey-9);
		position: absolute;
		bottom: -30px;
		left: -12px;
		border-radius: 20px 50px 50px 50px;
	}
	&.style-2 {
		position: relative;
		border-radius: 50px;
		padding: 35px 30px 30px;
		.testimonial-content {
			position: relative;
			text-align: center;
			mask-image: initial;
			background: transparent;
			padding: 15px 28px 25px 25px;
			z-index: 1;
			.quote {
				display: block;
				margin-bottom: 20px;
			}
			.desc {
				font-size: 24px;
				color: var(--fa-color-heading-primary);
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-medium);
				margin-bottom: 35px;
				line-height: 1.3;
			}
			.rating-number {
				display: block;
				font-size: 18px;
				font-family: var(--fa-ff-heading);
				font-weight: var(--fa-fw-sbold);
				margin-top: 10px;
				line-height: 1;
			}
			.testimonial-rating {
				display: inline-block;
				position: initial;
				transform: rotate(0deg);
			}
		}
		.testimonial-author {
			display: flex;
			align-items: center;
			column-gap: 20px;
			position: relative;
			margin-top: 35px;
			z-index: 1;
			.author-image {
				width: 75px;
				height: 75px;
			}
			.author-header {
				.sub-title {
					font-size: 18px;
					font-family: var(--fa-ff-heading);
					font-weight: var(--fa-fw-sbold);
				}
				.auother-name {
					font-weight: var(--fa-fw-sbold);
					margin-bottom: 0;
				}
			}
		}
		&:nth-child(1) {
			background: var(--fa-color-grey-8);
			border: 1px solid var(--fa-color-theme-primary);
		}
		&:nth-child(2) {
			background: var(--fa-color-theme-bg);
			.testimonial-content {
				.desc {
					color: var(--fa-color-common-white);
				}
				.rating-number {
					color: var(--fa-color-grey-11);
				}
			}
			.testimonial-author {
				.author-header {
					.sub-title {
						color: var(--fa-color-grey-11);
					}
					.auother-name {
						color: var(--fa-color-common-white);
					}
				}
			}
		}
		&:nth-child(3) {
			background: var(--fa-color-grey-9);
			border: 1px solid var(--fa-color-theme-secondary);
		}
		.item-shapes {
			position: absolute;
			top: -1px;
			right: 0;
			height: 100%;
			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}
	@media #{$xxl} {
		.testimonial-images {
			max-width: 110px;
			border-radius: 30px;
		}
		.testimonial-content {
			width: 430px;
			height: 290px;
			padding: 15px 35px 25px 0;
			.testimonial-author {
				margin-bottom: 10px;
			}
			.testimonial-desc {
				font-size: 20px;
				padding-left: 100px;
			}
		}
		.testimonial-icons {
			width: 65px;
			height: 65px;
		}
	}
	@media #{$xl} {
		.testimonial-images {
			right: -10px;
			top: -30px;
			max-width: 95px;
			border-radius: 25px;
		}
		.testimonial-content {
			width: 365px;
			height: 265px;
			.testimonial-desc {
				font-size: 16px;
			}
			.testimonial-author {
				margin-bottom: 20px;
			}
			.testimonial-rating {
				left: -10px;
			}
		}
		.testimonial-icons {
			width: 70px;
			height: 70px;
			left: -18px;
		}
	}
	@media #{$lg, $md, $sm} {
		.testimonial-images {
			right: -20px;
			top: -30px;
			max-width: 95px;
			border-radius: 25px;
		}
		.testimonial-content {
			width: 350px;
			height: 260px;
			.testimonial-desc {
				font-size: 16px;
				padding-left: 85px;
			}
			.testimonial-author {
				margin-bottom: 20px;
			}
			.testimonial-rating {
				left: -10px;
			}
		}
		.testimonial-icons {
			width: 70px;
			height: 70px;
			left: -18px;
		}
	}
	@media #{$xs} {
		.testimonial-images {
			right: -50px;
			top: -15px;
			max-width: 80px;
			border-radius: 15px;
		}
		.testimonial-content {
			width: 350px;
			height: 260px;
			border-radius: 15px;
			.testimonial-desc {
				font-size: 16px;
				padding-left: 85px;
			}
			.testimonial-author {
				margin-bottom: 20px;
			}
			.testimonial-rating {
				left: -10px;
			}
		}
		.testimonial-icons {
			width: 70px;
			height: 70px;
			left: -18px;
		}
	}
}

.testimonial-slider-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 24px;
}

.swiper-pagination-bullet {
	font-size: 16px;
	font-weight: 500;
	color: #999;
	opacity: 1;
	background: none;
}

.swiper-pagination-bullet-active {
	color: #ff4a00;
}

.star-ratings {
	unicode-bidi: bidi-override;
	color: var(--fa-color-theme-primary);
	font-size: 20px;
	letter-spacing: 5px;
	line-height: 1;
	position: relative;
	padding: 0;
	-webkit-text-stroke: 1px var(--fa-color-theme-primary);
	margin-left: auto;
	margin-right: auto;
	.fill-ratings {
		color: var(--fa-color-theme-primary);
		padding: 0;
		position: absolute;
		z-index: 1;
		display: block;
		top: 0;
		left: 0;
		overflow: hidden;
		span {
			display: inline-block;
		}
	}
	.empty-ratings {
		padding: 0;
		display: block;
		z-index: 0;
		color: var(--fa-color-theme-primary);
		-webkit-text-stroke: 1px var(--fa-color-theme-primary);
	}
}
/* !END: Theme Testimonial CSS */
