@use "../utilities" as *;

/**----------------------------------------
START: Theme Testimonial CSS
----------------------------------------*/
.fa-testimonial-section {
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: var(--fa-color-theme-bg);
}
/* !END: Theme Testimonial CSS */
